.contact-header {
    width: 100%;
    padding: 110px 0 30px 0;
    &__block {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        width: 100%;
        padding: 0 190px;
        &-title {
            font-family: TT Norms;
            font-style: normal;
            font-weight: bold;
            font-size: 32px;
            line-height: 48px;
            color: #2E2E2E;
        }
        &-description {
            width: 90%;
            margin: 45px 0 0 0;
            font-family: TT Norms;
            font-style: normal;
            font-weight: 500;
            font-size: 16px;
            line-height: 32px;
            color: rgba(0, 0, 0, 0.7);
            & a {
                font-family: TT Norms;
                font-style: normal;
                font-weight: 500;
                font-size: 16px;
                line-height: 32px;
                color: rgba(0, 0, 0, 0.7);
            }
        }
        &-add {
            margin: 55px 0 0 0;
            display: flex;
            align-items: center;
            justify-content: flex-start;
            &-instagram {
                width: 47px;
                height: 47px;
                border: 1px solid #D65E54;
                border-radius: 50%;
                cursor: pointer;
                display: flex;
                align-items: center;
                justify-content: center;
            }
            &-facebook {
                margin: 0 0 0 19px;
                width: 47px;
                height: 47px;
                border: 1px solid #D65E54;
                border-radius: 50%;
                cursor: pointer;
                display: flex;
                align-items: center;
                justify-content: center;
            }
        }
    }
}