@font-face {
  font-family: "Roboto";
  font-display: swap;
  src: url("../fonts/Roboto/Roboto-ExtraBold.woff") format("woff"),url("../fonts/Roboto/Roboto-ExtraBold.woff2") format("woff2");
  font-weight: 800;
  font-style: italic;
}

@font-face {
  font-family: "Roboto";
  font-display: swap;
  src: url("../fonts/Roboto/Roboto-Bold.woff") format("woff"),url("../fonts/Roboto/Roboto-Bold.woff2") format("woff2");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  font-display: swap;
  src: url("../fonts/Roboto/Roboto-Thin.woff") format("woff"),url("../fonts/Roboto/Roboto-Thin.woff2") format("woff2");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  font-display: swap;
  src: url("../fonts/Roboto/Roboto-Regular.woff") format("woff"),url("../fonts/Roboto/Roboto-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  font-display: swap;
  src: url("../fonts/Roboto/Roboto-ThinItalic.woff") format("woff"),url("../fonts/Roboto/Roboto-ThinItalic.woff2") format("woff2");
  font-weight: 100;
  font-style: italic;
}

@font-face {
  font-family: "Roboto";
  font-display: swap;
  src: url("../fonts/Roboto/Roboto-Italic.woff") format("woff"),url("../fonts/Roboto/Roboto-Italic.woff2") format("woff2");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "Roboto";
  font-display: swap;
  src: url("../fonts/Roboto/Roboto-Heavy.woff") format("woff"),url("../fonts/Roboto/Roboto-Heavy.woff2") format("woff2");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  font-display: swap;
  src: url("../fonts/Roboto/Roboto-Light.woff") format("woff"),url("../fonts/Roboto/Roboto-Light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  font-display: swap;
  src: url("../fonts/Roboto/Roboto-BlackItalic.woff") format("woff"),url("../fonts/Roboto/Roboto-BlackItalic.woff2") format("woff2");
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: "Roboto";
  font-display: swap;
  src: url("../fonts/Roboto/Roboto-ExtraLight.woff") format("woff"),url("../fonts/Roboto/Roboto-ExtraLight.woff2") format("woff2");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  font-display: swap;
  src: url("../fonts/Roboto/Roboto-LightItalic.woff") format("woff"),url("../fonts/Roboto/Roboto-LightItalic.woff2") format("woff2");
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: "Roboto";
  font-display: swap;
  src: url("../fonts/Roboto/Roboto-ExtraLightItalic.woff") format("woff"),url("../fonts/Roboto/Roboto-ExtraLightItalic.woff2") format("woff2");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  font-display: swap;
  src: url("../fonts/Roboto/Roboto-BoldItalic.woff") format("woff"),url("../fonts/Roboto/Roboto-BoldItalic.woff2") format("woff2");
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: "Roboto";
  font-display: swap;
  src: url("../fonts/Roboto/Roboto-Medium.woff") format("woff"),url("../fonts/Roboto/Roboto-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  font-display: swap;
  src: url("../fonts/Roboto/Roboto-Black.woff") format("woff"),url("../fonts/Roboto/Roboto-Black.woff2") format("woff2");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  font-display: swap;
  src: url("../fonts/Roboto/Roboto-MediumItalic.woff") format("woff"),url("../fonts/Roboto/Roboto-MediumItalic.woff2") format("woff2");
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: "Roboto";
  font-display: swap;
  src: url("../fonts/Roboto/Roboto-HeavyItalic.woff") format("woff"),url("../fonts/Roboto/Roboto-HeavyItalic.woff2") format("woff2");
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: "Roboto";
  font-display: swap;
  src: url("../fonts/Roboto/Roboto-ExtraBold.woff") format("woff"),url("../fonts/Roboto/Roboto-ExtraBold.woff2") format("woff2");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "TT Norms";
  font-display: swap;
  src: url("../fonts/TT Norms/TTNorms-ExtraBold.woff") format("woff"),url("../fonts/TT Norms/TTNorms-ExtraBold.woff2") format("woff2");
  font-weight: 800;
  font-style: italic;
}

@font-face {
  font-family: "TT Norms";
  font-display: swap;
  src: url("../fonts/TT Norms/TTNorms-Bold.woff") format("woff"),url("../fonts/TT Norms/TTNorms-Bold.woff2") format("woff2");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "TT Norms";
  font-display: swap;
  src: url("../fonts/TT Norms/TTNorms-Thin.woff") format("woff"),url("../fonts/TT Norms/TTNorms-Thin.woff2") format("woff2");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: "TT Norms";
  font-display: swap;
  src: url("../fonts/TT Norms/TTNorms-Regular.woff") format("woff"),url("../fonts/TT Norms/TTNorms-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "TT Norms";
  font-display: swap;
  src: url("../fonts/TT Norms/TTNorms-ThinItalic.woff") format("woff"),url("../fonts/TT Norms/TTNorms-ThinItalic.woff2") format("woff2");
  font-weight: 100;
  font-style: italic;
}

@font-face {
  font-family: "TT Norms";
  font-display: swap;
  src: url("../fonts/TT Norms/TTNorms-Italic.woff") format("woff"),url("../fonts/TT Norms/TTNorms-Italic.woff2") format("woff2");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "TT Norms";
  font-display: swap;
  src: url("../fonts/TT Norms/TTNorms-Heavy.woff") format("woff"),url("../fonts/TT Norms/TTNorms-Heavy.woff2") format("woff2");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "TT Norms";
  font-display: swap;
  src: url("../fonts/TT Norms/TTNorms-Light.woff") format("woff"),url("../fonts/TT Norms/TTNorms-Light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "TT Norms";
  font-display: swap;
  src: url("../fonts/TT Norms/TTNorms-BlackItalic.woff") format("woff"),url("../fonts/TT Norms/TTNorms-BlackItalic.woff2") format("woff2");
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: "TT Norms";
  font-display: swap;
  src: url("../fonts/TT Norms/TTNorms-ExtraLight.woff") format("woff"),url("../fonts/TT Norms/TTNorms-ExtraLight.woff2") format("woff2");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: "TT Norms";
  font-display: swap;
  src: url("../fonts/TT Norms/TTNorms-LightItalic.woff") format("woff"),url("../fonts/TT Norms/TTNorms-LightItalic.woff2") format("woff2");
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: "TT Norms";
  font-display: swap;
  src: url("../fonts/TT Norms/TTNorms-ExtraLightItalic.woff") format("woff"),url("../fonts/TT Norms/TTNorms-ExtraLightItalic.woff2") format("woff2");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: "TT Norms";
  font-display: swap;
  src: url("../fonts/TT Norms/TTNorms-BoldItalic.woff") format("woff"),url("../fonts/TT Norms/TTNorms-BoldItalic.woff2") format("woff2");
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: "TT Norms";
  font-display: swap;
  src: url("../fonts/TT Norms/TTNorms-Medium.woff") format("woff"),url("../fonts/TT Norms/TTNorms-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "TT Norms";
  font-display: swap;
  src: url("../fonts/TT Norms/TTNorms-Black.woff") format("woff"),url("../fonts/TT Norms/TTNorms-Black.woff2") format("woff2");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "TT Norms";
  font-display: swap;
  src: url("../fonts/TT Norms/TTNorms-MediumItalic.woff") format("woff"),url("../fonts/TT Norms/TTNorms-MediumItalic.woff2") format("woff2");
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: "TT Norms";
  font-display: swap;
  src: url("../fonts/TT Norms/TTNorms-HeavyItalic.woff") format("woff"),url("../fonts/TT Norms/TTNorms-HeavyItalic.woff2") format("woff2");
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: "TT Norms";
  font-display: swap;
  src: url("../fonts/TT Norms/TTNorms-ExtraBold.woff") format("woff"),url("../fonts/TT Norms/TTNorms-ExtraBold.woff2") format("woff2");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "circe";
  font-display: swap;
  src: url("../fonts/circe/circe.woff") format("woff"),url("../fonts/circe/circe.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "circe-thin";
  font-display: swap;
  src: url("../fonts/circe-thin/circe-thin.woff") format("woff"),url("../fonts/circe-thin/circe-thin.woff2") format("woff2");
  font-weight: 100;
  font-style: thin;
}

@font-face {
  font-family: "circe-light";
  font-display: swap;
  src: url("../fonts/circe-light/circe-light.woff") format("woff"),url("../fonts/circe-light/circe-light.woff2") format("woff2");
  font-weight: 300;
  font-style: light;
}

@font-face {
  font-family: "circe-extralight";
  font-display: swap;
  src: url("../fonts/circe-extralight/circe-extralight.woff") format("woff"),url("../fonts/circe-extralight/circe-extralight.woff2") format("woff2");
  font-weight: 200;
  font-style: ultralight;
}

@font-face {
  font-family: "circe-extrabold";
  font-display: swap;
  src: url("../fonts/circe-extrabold/circe-extrabold.woff") format("woff"),url("../fonts/circe-extrabold/circe-extrabold.woff2") format("woff2");
  font-weight: 800;
  font-style: extrabold;
}

@font-face {
  font-family: "circe-bold";
  font-display: swap;
  src: url("../fonts/circe-bold/circe-bold.woff") format("woff"),url("../fonts/circe-bold/circe-bold.woff2") format("woff2");
  font-weight: 700;
  font-style: bold;
}

@font-face {
  font-family: "Lorin";
  font-display: swap;
  src: url("../fonts/Lorin/Lorin-Bold.woff") format("woff"),url("../fonts/Lorin/Lorin-Bold.woff2") format("woff2");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Lorin";
  font-display: swap;
  src: url("../fonts/Lorin/Lorin-ExtraBold.woff") format("woff"),url("../fonts/Lorin/Lorin-ExtraBold.woff2") format("woff2");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "Lorin";
  font-display: swap;
  src: url("../fonts/Lorin/Lorin-Light.woff") format("woff"),url("../fonts/Lorin/Lorin-Light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Lorin";
  font-display: swap;
  src: url("../fonts/Lorin/Lorin-Regular.woff") format("woff"),url("../fonts/Lorin/Lorin-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Poppins";
  font-display: swap;
  src: url("../fonts/Poppins/Popping-Light.woff") format("woff"),url("../fonts/Poppins/Popping-Light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Poppins";
  font-display: swap;
  src: url("../fonts/Poppins/Popping-Regular.woff") format("woff"),url("../fonts/Poppins/Popping-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Poppins";
  font-display: swap;
  src: url("../fonts/Poppins/Popping-BoldSemiBold.woff") format("woff"),url("../fonts/Poppins/Popping-BoldSemiBold.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Poppins";
  font-display: swap;
  src: url("../fonts/Poppins/Popping-Thin.woff") format("woff"),url("../fonts/Poppins/Popping-Thin.woff2") format("woff2");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: "Poppins";
  font-display: swap;
  src: url("../fonts/Poppins/Popping-Italic.woff") format("woff"),url("../fonts/Poppins/Popping-Italic.woff2") format("woff2");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: "Poppins";
  font-display: swap;
  src: url("../fonts/Poppins/Popping-MediumItalic.woff") format("woff"),url("../fonts/Poppins/Popping-MediumItalic.woff2") format("woff2");
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: "Poppins";
  font-display: swap;
  src: url("../fonts/Poppins/Popping-ExtraLightItalic.woff") format("woff"),url("../fonts/Poppins/Popping-ExtraLightItalic.woff2") format("woff2");
  font-weight: 200;
  font-style: italic;
}

@font-face {
  font-family: "Poppins";
  font-display: swap;
  src: url("../fonts/Poppins/Popping-ExtraBoldItalic.woff") format("woff"),url("../fonts/Poppins/Popping-ExtraBoldItalic.woff2") format("woff2");
  font-weight: 800;
  font-style: italic;
}

@font-face {
  font-family: "Poppins";
  font-display: swap;
  src: url("../fonts/Poppins/Popping-ExtraBold.woff") format("woff"),url("../fonts/Poppins/Popping-ExtraBold.woff2") format("woff2");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "Poppins";
  font-display: swap;
  src: url("../fonts/Poppins/Popping-LightItalic.woff") format("woff"),url("../fonts/Poppins/Popping-LightItalic.woff2") format("woff2");
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: "Poppins";
  font-display: swap;
  src: url("../fonts/Poppins/Popping-Black.woff") format("woff"),url("../fonts/Poppins/Popping-Black.woff2") format("woff2");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "Poppins";
  font-display: swap;
  src: url("../fonts/Poppins/Popping-ThinItalic.woff") format("woff"),url("../fonts/Poppins/Popping-ThinItalic.woff2") format("woff2");
  font-weight: 100;
  font-style: italic;
}

@font-face {
  font-family: "Poppins";
  font-display: swap;
  src: url("../fonts/Poppins/Popping-Medium.woff") format("woff"),url("../fonts/Poppins/Popping-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Poppins";
  font-display: swap;
  src: url("../fonts/Poppins/Popping-ExtraLight.woff") format("woff"),url("../fonts/Poppins/Popping-ExtraLight.woff2") format("woff2");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: "Poppins";
  font-display: swap;
  src: url("../fonts/Poppins/Popping-BoldItalic.woff") format("woff"),url("../fonts/Poppins/Popping-BoldItalic.woff2") format("woff2");
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: "Poppins";
  font-display: swap;
  src: url("../fonts/Poppins/Popping-SemiBoldItalic.woff") format("woff"),url("../fonts/Poppins/Popping-SemiBoldItalic.woff2") format("woff2");
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: "Poppins";
  font-display: swap;
  src: url("../fonts/Poppins/Popping-Bold.woff") format("woff"),url("../fonts/Poppins/Popping-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Poppins";
  font-display: swap;
  src: url("../fonts/Poppins/Popping-BlackItalic.woff") format("woff"),url("../fonts/Poppins/Popping-BlackItalic.woff2") format("woff2");
  font-weight: 900;
  font-style: italic;
}

.ind-shop {
  width: 100%;
  height: 776px;
  position: relative;
  background: #fff0cd;
  padding: 65px 0 0 0;
}

.ind-shop .containers {
  width: 100%;
}

.ind-shop__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.ind-shop__block-list {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.ind-shop__block-list-item {
  font-family: TT Norms;
  font-style: normal;
  font-weight: normal;
  font-size: 23px;
  line-height: 42px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.ind-shop__block-list-item:nth-child(1) {
  width: 206px;
  height: 61px;
  border: 2px solid #3287ea;
  border-radius: 30.5px;
  color: #3287ea;
}

.ind-shop__block-list-item:nth-child(1).ind-shop__block-list-item-active {
  background: #3287ea;
  color: #fff;
}

.ind-shop__block-list-item:nth-child(2) {
  width: 245px;
  height: 61px;
  border: 2px solid #224181;
  color: #224181;
  border-radius: 30.5px;
}

.ind-shop__block-list-item:nth-child(2).ind-shop__block-list-item-active {
  background: #224181;
  color: #fff;
}

.ind-shop__block-list-item:nth-child(3) {
  width: 172px;
  height: 61px;
  border: 2px solid #d1b980;
  border-radius: 30.5px;
  color: #d1b980;
}

.ind-shop__block-list-item:nth-child(3).ind-shop__block-list-item-active {
  background: #d1b980;
  color: #fff;
}

.ind-shop__block-list-item:nth-child(4) {
  width: 280px;
  height: 61px;
  border: 2px solid #32beea;
  border-radius: 30.5px;
  color: #32beea;
}

.ind-shop__block-list-item:nth-child(4).ind-shop__block-list-item-active {
  background: #32beea;
  color: #fff;
}

.ind-shop__block-list-item:nth-child(5) {
  width: 280px;
  height: 61px;
  border: 2px solid #ea9532;
  border-radius: 30.5px;
  color: #ea9532;
}

.ind-shop__block-list-item:nth-child(5).ind-shop__block-list-item-active {
  background: #ea9532;
  color: #fff;
}

.ind-shop__block-slider {
  margin: 59px 0 0 0;
  width: 100%;
}

.ind-shop__block-slider .swiper-controls {
  top: -315px;
  position: relative;
}

.ind-shop__block-slider .swiper-button-next {
  content: "";
  width: 57px;
  height: 57px;
  background: #fff;
  -webkit-box-shadow: 0px 14px 26px rgba(39,13,48,.25);
          box-shadow: 0px 14px 26px rgba(39,13,48,.25);
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  opacity: 1;
  right: -45px;
}

.ind-shop__block-slider .swiper-button-next::after {
  content: "";
}

.ind-shop__block-slider .swiper-button-next-arrow {
  content: url(../svg/index/arrow-next.svg);
}

.ind-shop__block-slider .swiper-button-prev {
  content: "";
  width: 57px;
  height: 57px;
  background: #fff;
  -webkit-box-shadow: 0px 14px 26px rgba(39,13,48,.25);
          box-shadow: 0px 14px 26px rgba(39,13,48,.25);
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  opacity: 1;
  left: -65px;
}

.ind-shop__block-slider .swiper-button-prev::after {
  content: "";
}

.ind-shop__block-slider .swiper-button-prev-arrow {
  content: url(../svg/index/arrow-prev.svg);
}

.ind-shop__block-slider .swiper-pagination {
  bottom: -345px;
}

.ind-shop__block-slider .swiper-pagination-bullet {
  width: 29.18px;
  height: 5.56px;
  background: rgba(255,62,62,.22);
  border-radius: 4px;
  opacity: 1;
}

.ind-shop__block-slider .swiper-pagination-bullet-active {
  width: 48.63px;
  height: 5.56px;
  background: #ea3b32;
  border-radius: 4px;
}

.ind-shop__block-slider-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.ind-shop__block-slider-img {
  width: 210px;
  height: 243px;
  background: #f2f2f2;
  border-radius: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.ind-shop__block-slider-img img {
  width: 128px;
  height: 198px;
  overflow: hidden;
}

.ind-shop__block-slider-star {
  margin: 21px 0 0 0;
}

.ind-shop__block-slider-title {
  margin: 14px 0 0 0;
  height: 30px;
  font-family: TT Norms;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 30px;
  color: #000;
}

.ind-shop__block-slider-add {
  margin: 10px 0 0 0;
  height: 24px;
  font-family: TT Norms;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: rgba(0,0,0,.8);
}

.ind-shop__block-slider-price {
  margin: 39px 0 40px 0;
  width: 142px;
  height: 73px;
  background: #ea3b32;
  border-radius: 10px;
  position: relative;
  padding: 12px 0 0 18px;
}

.ind-shop__block-slider-price h3 {
  height: 24px;
  font-family: TT Norms;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  color: #fff;
}

.ind-shop__block-slider-price p {
  font-family: TT Norms;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 24px;
  -webkit-text-decoration-line: line-through;
          text-decoration-line: line-through;
  color: #bcbcbc;
}

.ind-shop__block-slider-price-basket {
  width: 57px;
  height: 57px;
  background: #ea3b32;
  -webkit-box-shadow: 0px 14px 26px rgba(39,13,48,.25);
          box-shadow: 0px 14px 26px rgba(39,13,48,.25);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  top: 8px;
  right: -26px;
  border-radius: 50%;
}

.ind-add {
  position: relative;
  width: 100%;
  height: 100%;
  padding: 98px 0 130px 0;
}

.ind-add .containers {
  width: 100%;
}

.ind-add__slider {
  width: 100%;
}

.ind-add__slider .swiper-controls {
  position: relative;
  top: -285px;
}

.ind-add__slider .swiper-button-next {
  width: 57px;
  height: 57px;
  background: #fff;
  -webkit-box-shadow: 0px 14px 26px rgba(39,13,48,.25);
          box-shadow: 0px 14px 26px rgba(39,13,48,.25);
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  right: -50px;
  opacity: 1;
}

.ind-add__slider .swiper-button-next::after {
  content: "";
}

.ind-add__slider .swiper-button-next-arrow {
  content: url(../svg/index/arrow-next.svg);
}

.ind-add__slider .swiper-button-prev {
  left: -50px;
  width: 57px;
  height: 57px;
  background: #fff;
  -webkit-box-shadow: 0px 14px 26px rgba(39,13,48,.25);
          box-shadow: 0px 14px 26px rgba(39,13,48,.25);
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  opacity: 1;
}

.ind-add__slider .swiper-button-prev::after {
  content: "";
}

.ind-add__slider .swiper-button-prev-arrow {
  content: url(../svg/index/arrow-prev.svg);
}

.ind-add__slider .swiper-slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.ind-add__slider .swiper-slide .ind-add__slider-item:nth-child(2) {
  margin: 25px 0 0 0;
}

.ind-add__slider-item {
  width: 184px;
  height: 267px;
  background: #fff0cd;
  border-radius: 20px;
  overflow: hidden;
  position: relative;
  -webkit-transition: all .5s ease;
  -o-transition: all .5s ease;
  transition: all .5s ease;
  cursor: pointer;
}

.ind-add__slider-item:hover .ind-add__slider-item-search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transition: all .5s ease;
  -o-transition: all .5s ease;
  transition: all .5s ease;
}

.ind-add__slider-item-search {
  width: 58.44px;
  height: 58.44px;
  background: #e93b32;
  -webkit-box-shadow: 0px 14px 26px rgba(39,13,48,.25);
          box-shadow: 0px 14px 26px rgba(39,13,48,.25);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  display: none;
  -webkit-transition: all .5s ease;
  -o-transition: all .5s ease;
  transition: all .5s ease;
  cursor: pointer;
}

* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  position: relative;
  font-family: TT Norms;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

input {
  padding: 0;
  margin: 0;
  border: 0;
  border: none;
}

button {
  padding: 0;
  border: none;
  cursor: pointer;
}

.containers {
  max-width: 1440px;
  padding: 0 70px;
  margin: 0 auto;
}

ol,
ul {
  padding-left: 0;
}

dl,
ol,
ul {
  margin-top: 0;
  margin-bottom: 0;
}

p {
  margin-top: 0;
  margin-bottom: 0;
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0;
}

.display-n {
  display: none !important;
}

.display-f {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
}

.display-g {
  display: -ms-grid !important;
  display: grid !important;
}

.footer {
  position: relative;
  background: #cf3f3a;
  width: 100%;
  height: 338px;
}

.footer::after {
  content: "";
  position: absolute;
  top: 255px;
  left: 0;
  width: 100%;
  height: 0;
  border-top: 1px solid #c4c4c4;
}

.footer::before {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  width: 0;
  -webkit-transform: translate(-50%, 0%);
      -ms-transform: translate(-50%, 0%);
          transform: translate(-50%, 0%);
  height: 256px;
  border-left: 1px solid #c4c4c4;
}

.footer .containers {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.footer__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 95px;
  width: 100%;
  margin: 38px 0 58px 0;
}

.footer__block-company {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.footer__block-company-text {
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 20px;
  letter-spacing: -0.204545px;
  color: #fff;
  width: 271px;
  margin: 0 0 0 85px;
}

.footer__block-about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 494px;
  margin: 19px 0 0 0;
}

.footer__block-about-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer__block-about-list-item {
  font-family: TT Norms;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 18px;
  letter-spacing: -0.204545px;
  color: #fbfdff;
  margin: 0 0 22px 0;
}

.footer__block-about-list-item:nth-child(1) {
  font-size: 17px;
}

.footer__block-about-list-item:last-child {
  margin: 0;
}

.footer__block-about-list-contact {
  margin: 7px 0 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 135px;
}

.footer__block-about-list-contact-item {
  width: 33px;
  height: 33px;
  border: 1px solid #fff;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
}

.footer__add {
  height: 83px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 95px;
}

.footer__add-rights {
  font-family: TT Norms;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 18px;
  letter-spacing: -0.204545px;
  color: #fff;
  opacity: .6;
}

.footer__add-create {
  cursor: pointer;
}

.footer__add-create a {
  font-family: TT Norms;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 18px;
  letter-spacing: -0.204545px;
  color: #fff;
  opacity: .6;
}