.det-header {
    width: 100%;
    padding: 110px 0 90px 0;
    &__wrapper {
        width: 100%;
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
    }
    &__photo {
        width: 825px;
        height: 460px;
        display: grid;
        grid-template-columns: repeat(7, 1fr);
        grid-template-areas: 
        "detailHeader-1 detailHeader-1 detailHeader-1 detailHeader-2 detailHeader-2 detailHeader-2 detailHeader-3"
        "detailHeader-1 detailHeader-1 detailHeader-1 detailHeader-2 detailHeader-2 detailHeader-2 detailHeader-4"
        "detailHeader-1 detailHeader-1 detailHeader-1 detailHeader-2 detailHeader-2 detailHeader-2 detailHeader-5"
        "detailHeader-1 detailHeader-1 detailHeader-1 detailHeader-2 detailHeader-2 detailHeader-2 detailHeader-6";
        gap: 19.5px 31.5px;
        &-items {
            background: #F2F2F2;
            border-radius: 10px;
            overflow: hidden;
            & img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
            &:nth-child(1) {
                grid-area: detailHeader-1;
                border-radius: 20px;
            }
            &:nth-child(2) {
                grid-area: detailHeader-2;
                border-radius: 20px;
            }
            &:nth-child(3) {
                grid-area: detailHeader-3;
            }
            &:nth-child(4) {
                grid-area: detailHeader-4;
            }
            &:nth-child(5) {
                grid-area: detailHeader-5;
            }
            &:nth-child(6) {
                grid-area: detailHeader-6;
            }
        }
    }
    &__block {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        width: 428.50px;
        &-info {
            display: flex;
            align-items: center;
            justify-content: flex-start;
            &-star {
                width: 169px;
                height: 37px;
                border: 1px solid #D65E54;
                border-radius: 10px;
                display: flex;
                align-items: center;
                justify-content: center;
                & p {
                    margin: 0 0 0 10px;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 14px;
                    line-height: 24px;
                    color: #FF7A00;
                }
            }
            &-stars {
                display: flex;
                align-items: center;
                justify-content: center;
                & svg {
                    margin: 0 3px;
                }
            }
            &-count {
                margin: 0 0 0 16px;
                padding: 0 19px;
                height: 37px;
                border: 1px solid #F0E4F4;
                border-radius: 10px;
                display: flex;
                align-items: center;
                justify-content: center;
                & p {
                    font-style: normal;
                    font-weight: normal;
                    font-size: 14px;
                    line-height: 24px;
                    color: #4D4D4D;
                }
            }
        }
        &-title {
            margin: 35px 0 0 0;
            font-family: TT Norms;
            font-style: normal;
            font-weight: bold;
            font-size: 28px;
            line-height: 33px;
            color: #000000;
        }
        &-type {
            margin: 18px 0 0 0;
            font-style: normal;
            font-weight: 600;
            font-size: 18px;
            line-height: 27px;
            color: #D65E54;
        }
        &-people {
            display: flex;
            align-items: center;
            justify-content: flex-start;
            margin: 35px 0 0 0;
            &-photo {
                width: 42px;
                height: 42px;
                background: #C4C4C4;
                overflow: hidden;
                border-radius: 50%;
                & img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }
            &-name {
                margin: 0 0 0 15px;
                & p {
                    font-style: normal;
                    font-weight: 500;
                    font-size: 18px;
                    line-height: 24px;
                    color: rgba(0, 0, 0, 0.8);
                }
            }
        }
        &-text {
            margin: 21px 0 0 0;
            & p {
                font-family: TT Norms;
                font-style: normal;
                font-weight: normal;
                font-size: 14px;
                line-height: 26px;
                color: rgba(0, 0, 0, 0.7);
            }
        }
        &-price {
            margin: 55px 0 0 0;
            display: flex;
            align-items: center;
            justify-content: flex-start;
            &-last {
                font-family: TT Norms;
                font-style: normal;
                font-weight: bold;
                font-size: 45px;
                line-height: 53px;
                color: #000000;
            }
            &-prev {
                margin: 0 0 0 17px;
                font-style: normal;
                font-weight: normal;
                font-size: 14px;
                line-height: 24px;
                text-decoration-line: line-through;
                color: #636363;
            }
            &-add {
                height: 23.50px;
                background: #FF7A00;
                border-radius: 8px;
                padding: 0 10px;
                display: flex;
                align-items: center;
                justify-content: center;
                margin: 0 0 0 25px;
                & p {
                    font-style: normal;
                    font-weight: 500;
                    font-size: 14px;
                    line-height: 24px;
                    color: #FFFFFF;
                }
            }
        }
        &-bay {
            margin: 55px 0 0 0;
            display: flex;
            align-items: center;
            justify-content: flex-start;
            &-count {
                display: flex;
                align-items: center;
                justify-content: space-between;
                width: 147px;
                height: 52px;
                background: #EBEBEB;
                border-radius: 10px;
                padding: 0 14px;
                &-sum {
                    font-style: normal;
                    font-weight: 600;
                    font-size: 22px;
                    line-height: 24px;
                    color: #000000;
                }
                &-minus {
                    cursor: pointer;
                }
                &-plus {
                    cursor: pointer;
                }
            }   
            &-btn {
                height: 52px;
                margin: 0 0 0 14px;
                background: #D65E54;
                border-radius: 10px;
                padding: 0 22px;
                cursor: pointer;
                display: flex;
                align-items: center;
                justify-content: center;
                & p {
                    margin: 0 0 0 16px;
                    font-style: normal;
                    font-weight: 600;
                    font-size: 20px;
                    line-height: 24px;
                    color: #FFFFFF;
                }
            }
            &-heart {
                margin: 0 0 0 16px;
                width: 61px;
                height: 52px;
                border: 1px solid #C4C4C4;
                display: flex;
                align-items: center;
                justify-content: center;
                cursor: pointer;
                border-radius: 8px;
            }
        }
    }
}

.det-content {
    width: 100%;
    padding: 90px 0 150px 0;
    &__wrapper {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        width: 100%;
    }
    &__rec {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        width: 319px;
        &-title {
            font-family: TT Norms;
            font-style: normal;
            font-weight: bold;
            font-size: 24px;
            line-height: 24px;
            color: #000000;
        }
        &-list {
            margin: 69px 0 0 0;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: flex-start;
            width: 100%;
        }
        &-items {
            margin: 0 0 69px 0;
            width: 100%;
            height: 148px;
            position: relative;
            background: #FFFFFF;
            box-shadow: 0px 7px 20px rgba(120, 120, 120, 0.15);
            border-radius: 10px;
            z-index: 1;
            padding: 24px 20px 0 160px;
            &:last-child {
                margin: 0;
            }
            &-photo {
                width: 133px;
                height: 190.50px;
                background: #F2F2F2;
                border-radius: 10px;
                display: flex;
                align-items: center;
                justify-content: center;
                overflow: hidden;
                position: absolute;
                bottom: 0;
                left: 0;
                z-index: 5;
                & img {
                    width: 102px;
                    height: 149px;
                }
            }
            &-star {
                width: max-content;
                height: 26.50px;
                padding: 0 12px 0 8px;
                background: #FF7A00;
                border-radius: 31px;
                display: flex;
                align-items: center;
                justify-content: center;
                & p {
                    margin: 0 0 0 12px;
                    font-style: normal;
                    font-weight: 500;
                    font-size: 14px;
                    line-height: 24px;
                    color: #FFFFFF;
                }
            }
            &-title {
                margin: 11px 0 0 0;
                & p {
                    font-style: normal;
                    font-weight: 600;
                    font-size: 13px;
                    line-height: 19px;
                    color: #000000;
                }
            }
            &-price {
                margin: 10px 0 0 0;
                font-style: normal;
                font-weight: 600;
                font-size: 20px;
                line-height: 24px;
                color: #D65E54;
            }
        }
    }
    &__block {
        width: 952px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        &-title {
            font-family: TT Norms;
            font-style: normal;
            font-weight: bold;
            font-size: 24px;
            line-height: 24px;
            color: #000000;
        }
    }
}