section.authors
        .authors__title Наши авторы
        .containers 
            .authors__slider 
                .swiper.authorsSlider
                    .swiper-wrapper
                        .swiper-slide
                            .authors__slider-item 
                                .authors__slider-item-photo 
                                    img(src="./img/index/authors.png", alt="img")
                                .authors__slider-item-title Имя Фамилия
                        .swiper-slide
                            .authors__slider-item 
                                .authors__slider-item-photo 
                                    img(src="./img/index/authors.png", alt="img")
                                .authors__slider-item-title Имя Фамилия
                        .swiper-slide
                            .authors__slider-item 
                                .authors__slider-item-photo 
                                    img(src="./img/index/authors.png", alt="img")
                                .authors__slider-item-title Имя Фамилия
                        .swiper-slide
                            .authors__slider-item 
                                .authors__slider-item-photo 
                                    img(src="./img/index/authors.png", alt="img")
                                .authors__slider-item-title Имя Фамилия
                        .swiper-slide
                            .authors__slider-item 
                                .authors__slider-item-photo 
                                    img(src="./img/index/authors.png", alt="img")
                                .authors__slider-item-title Имя Фамилия
                        .swiper-slide
                            .authors__slider-item 
                                .authors__slider-item-photo 
                                    img(src="./img/index/authors.png", alt="img")
                                .authors__slider-item-title Имя Фамилия
                        .swiper-slide
                            .authors__slider-item 
                                .authors__slider-item-photo 
                                    img(src="./img/index/authors.png", alt="img")
                                .authors__slider-item-title Имя Фамилия
                        
                .swiper-controls    
                    .swiper-button-next
                        .swiper-button-next-arrow
                    .swiper-button-prev
                        .swiper-button-prev-arrow
                    //- .swiper-pagination
