section.shop 
        .shop__title Рубрики
        .shop__block
            .containers 
                ul.shop__block-list
                    .swiper.shopTabs
                        .swiper-wrapper
                            .swiper-slide 
                                li#indexShopButton-1.shop__block-list-item.shop__block-list-item-active  История
                            .swiper-slide 
                                li#indexShopButton-2.shop__block-list-item Искусство
                            .swiper-slide 
                                li#indexShopButton-3.shop__block-list-item Журналы
                            .swiper-slide 
                                li#indexShopButton-4.shop__block-list-item Религиоведение
                            .swiper-slide   
                                li#indexShopButton-5.shop__block-list-item Возрождение и обновление
                    .swiper-controls 
                        .swiper-button-next
                        .swiper-button-prev
                        .swiper-pagination
                .shop__block-slider#indexShopElement-1
                    .swiper.shopSlider-1
                        .swiper-wrapper
                            .swiper-slide 
                                .shop__block-slider-item
                                    .shop__block-slider-img 
                                        img(src="./img/index/shop-1.png", alt="img")
                                    .shop__block-slider-star
                                        <svg width="16" height="13" viewBox="0 0 16 13" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M7.50965 0.452219L5.71136 3.81352L1.68793 4.35428C0.966409 4.45075 0.677251 5.27076 1.20049 5.74043L4.11135 8.35534L3.42288 12.0492C3.29895 12.7169 4.06178 13.217 4.70068 12.9048L8.30002 11.1607L11.8994 12.9048C12.5383 13.2145 13.3011 12.7169 13.1772 12.0492L12.4887 8.35534L15.3995 5.74043C15.9228 5.27076 15.6336 4.45075 14.9121 4.35428L10.8887 3.81352L9.09038 0.452219C8.76818 -0.146926 7.83461 -0.154542 7.50965 0.452219Z" fill="#FF7A00"/>
                                        </svg>
                                        <svg width="16" height="13" viewBox="0 0 16 13" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M7.50965 0.452219L5.71136 3.81352L1.68793 4.35428C0.966409 4.45075 0.677251 5.27076 1.20049 5.74043L4.11135 8.35534L3.42288 12.0492C3.29895 12.7169 4.06178 13.217 4.70068 12.9048L8.30002 11.1607L11.8994 12.9048C12.5383 13.2145 13.3011 12.7169 13.1772 12.0492L12.4887 8.35534L15.3995 5.74043C15.9228 5.27076 15.6336 4.45075 14.9121 4.35428L10.8887 3.81352L9.09038 0.452219C8.76818 -0.146926 7.83461 -0.154542 7.50965 0.452219Z" fill="#FF7A00"/>
                                        </svg>
                                        <svg width="16" height="13" viewBox="0 0 16 13" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M7.50965 0.452219L5.71136 3.81352L1.68793 4.35428C0.966409 4.45075 0.677251 5.27076 1.20049 5.74043L4.11135 8.35534L3.42288 12.0492C3.29895 12.7169 4.06178 13.217 4.70068 12.9048L8.30002 11.1607L11.8994 12.9048C12.5383 13.2145 13.3011 12.7169 13.1772 12.0492L12.4887 8.35534L15.3995 5.74043C15.9228 5.27076 15.6336 4.45075 14.9121 4.35428L10.8887 3.81352L9.09038 0.452219C8.76818 -0.146926 7.83461 -0.154542 7.50965 0.452219Z" fill="#FF7A00"/>
                                        </svg>
                                        <svg width="16" height="13" viewBox="0 0 16 13" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M7.50965 0.452219L5.71136 3.81352L1.68793 4.35428C0.966409 4.45075 0.677251 5.27076 1.20049 5.74043L4.11135 8.35534L3.42288 12.0492C3.29895 12.7169 4.06178 13.217 4.70068 12.9048L8.30002 11.1607L11.8994 12.9048C12.5383 13.2145 13.3011 12.7169 13.1772 12.0492L12.4887 8.35534L15.3995 5.74043C15.9228 5.27076 15.6336 4.45075 14.9121 4.35428L10.8887 3.81352L9.09038 0.452219C8.76818 -0.146926 7.83461 -0.154542 7.50965 0.452219Z" fill="#FF7A00"/>
                                        </svg>
                                    .shop__block-slider-title Успеть до восхода
                                    .shop__block-slider-add Ахун Мансур
                            .swiper-slide 
                                .shop__block-slider-item
                                    .shop__block-slider-img 
                                        img(src="./img/index/shop-2.png", alt="img")
                                    .shop__block-slider-star
                                        <svg width="16" height="13" viewBox="0 0 16 13" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M7.50965 0.452219L5.71136 3.81352L1.68793 4.35428C0.966409 4.45075 0.677251 5.27076 1.20049 5.74043L4.11135 8.35534L3.42288 12.0492C3.29895 12.7169 4.06178 13.217 4.70068 12.9048L8.30002 11.1607L11.8994 12.9048C12.5383 13.2145 13.3011 12.7169 13.1772 12.0492L12.4887 8.35534L15.3995 5.74043C15.9228 5.27076 15.6336 4.45075 14.9121 4.35428L10.8887 3.81352L9.09038 0.452219C8.76818 -0.146926 7.83461 -0.154542 7.50965 0.452219Z" fill="#FF7A00"/>
                                        </svg>
                                        <svg width="16" height="13" viewBox="0 0 16 13" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M7.50965 0.452219L5.71136 3.81352L1.68793 4.35428C0.966409 4.45075 0.677251 5.27076 1.20049 5.74043L4.11135 8.35534L3.42288 12.0492C3.29895 12.7169 4.06178 13.217 4.70068 12.9048L8.30002 11.1607L11.8994 12.9048C12.5383 13.2145 13.3011 12.7169 13.1772 12.0492L12.4887 8.35534L15.3995 5.74043C15.9228 5.27076 15.6336 4.45075 14.9121 4.35428L10.8887 3.81352L9.09038 0.452219C8.76818 -0.146926 7.83461 -0.154542 7.50965 0.452219Z" fill="#FF7A00"/>
                                        </svg>
                                        <svg width="16" height="13" viewBox="0 0 16 13" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M7.50965 0.452219L5.71136 3.81352L1.68793 4.35428C0.966409 4.45075 0.677251 5.27076 1.20049 5.74043L4.11135 8.35534L3.42288 12.0492C3.29895 12.7169 4.06178 13.217 4.70068 12.9048L8.30002 11.1607L11.8994 12.9048C12.5383 13.2145 13.3011 12.7169 13.1772 12.0492L12.4887 8.35534L15.3995 5.74043C15.9228 5.27076 15.6336 4.45075 14.9121 4.35428L10.8887 3.81352L9.09038 0.452219C8.76818 -0.146926 7.83461 -0.154542 7.50965 0.452219Z" fill="#FF7A00"/>
                                        </svg>
                                        <svg width="16" height="13" viewBox="0 0 16 13" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M7.50965 0.452219L5.71136 3.81352L1.68793 4.35428C0.966409 4.45075 0.677251 5.27076 1.20049 5.74043L4.11135 8.35534L3.42288 12.0492C3.29895 12.7169 4.06178 13.217 4.70068 12.9048L8.30002 11.1607L11.8994 12.9048C12.5383 13.2145 13.3011 12.7169 13.1772 12.0492L12.4887 8.35534L15.3995 5.74043C15.9228 5.27076 15.6336 4.45075 14.9121 4.35428L10.8887 3.81352L9.09038 0.452219C8.76818 -0.146926 7.83461 -0.154542 7.50965 0.452219Z" fill="#FF7A00"/>
                                        </svg>
                                    .shop__block-slider-title Успеть до восхода
                                    .shop__block-slider-add Ахун Мансур
                            .swiper-slide 
                                .shop__block-slider-item
                                    .shop__block-slider-img 
                                        img(src="./img/index/shop-3.png", alt="img")
                                    .shop__block-slider-star
                                        <svg width="16" height="13" viewBox="0 0 16 13" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M7.50965 0.452219L5.71136 3.81352L1.68793 4.35428C0.966409 4.45075 0.677251 5.27076 1.20049 5.74043L4.11135 8.35534L3.42288 12.0492C3.29895 12.7169 4.06178 13.217 4.70068 12.9048L8.30002 11.1607L11.8994 12.9048C12.5383 13.2145 13.3011 12.7169 13.1772 12.0492L12.4887 8.35534L15.3995 5.74043C15.9228 5.27076 15.6336 4.45075 14.9121 4.35428L10.8887 3.81352L9.09038 0.452219C8.76818 -0.146926 7.83461 -0.154542 7.50965 0.452219Z" fill="#FF7A00"/>
                                        </svg>
                                        <svg width="16" height="13" viewBox="0 0 16 13" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M7.50965 0.452219L5.71136 3.81352L1.68793 4.35428C0.966409 4.45075 0.677251 5.27076 1.20049 5.74043L4.11135 8.35534L3.42288 12.0492C3.29895 12.7169 4.06178 13.217 4.70068 12.9048L8.30002 11.1607L11.8994 12.9048C12.5383 13.2145 13.3011 12.7169 13.1772 12.0492L12.4887 8.35534L15.3995 5.74043C15.9228 5.27076 15.6336 4.45075 14.9121 4.35428L10.8887 3.81352L9.09038 0.452219C8.76818 -0.146926 7.83461 -0.154542 7.50965 0.452219Z" fill="#FF7A00"/>
                                        </svg>
                                        <svg width="16" height="13" viewBox="0 0 16 13" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M7.50965 0.452219L5.71136 3.81352L1.68793 4.35428C0.966409 4.45075 0.677251 5.27076 1.20049 5.74043L4.11135 8.35534L3.42288 12.0492C3.29895 12.7169 4.06178 13.217 4.70068 12.9048L8.30002 11.1607L11.8994 12.9048C12.5383 13.2145 13.3011 12.7169 13.1772 12.0492L12.4887 8.35534L15.3995 5.74043C15.9228 5.27076 15.6336 4.45075 14.9121 4.35428L10.8887 3.81352L9.09038 0.452219C8.76818 -0.146926 7.83461 -0.154542 7.50965 0.452219Z" fill="#FF7A00"/>
                                        </svg>
                                        <svg width="16" height="13" viewBox="0 0 16 13" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M7.50965 0.452219L5.71136 3.81352L1.68793 4.35428C0.966409 4.45075 0.677251 5.27076 1.20049 5.74043L4.11135 8.35534L3.42288 12.0492C3.29895 12.7169 4.06178 13.217 4.70068 12.9048L8.30002 11.1607L11.8994 12.9048C12.5383 13.2145 13.3011 12.7169 13.1772 12.0492L12.4887 8.35534L15.3995 5.74043C15.9228 5.27076 15.6336 4.45075 14.9121 4.35428L10.8887 3.81352L9.09038 0.452219C8.76818 -0.146926 7.83461 -0.154542 7.50965 0.452219Z" fill="#FF7A00"/>
                                        </svg>
                                    .shop__block-slider-title Успеть до восхода
                                    .shop__block-slider-add Ахун Мансур
                            .swiper-slide 
                                .shop__block-slider-item
                                    .shop__block-slider-img 
                                        img(src="./img/index/shop-4.png", alt="img")
                                    .shop__block-slider-star
                                        <svg width="16" height="13" viewBox="0 0 16 13" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M7.50965 0.452219L5.71136 3.81352L1.68793 4.35428C0.966409 4.45075 0.677251 5.27076 1.20049 5.74043L4.11135 8.35534L3.42288 12.0492C3.29895 12.7169 4.06178 13.217 4.70068 12.9048L8.30002 11.1607L11.8994 12.9048C12.5383 13.2145 13.3011 12.7169 13.1772 12.0492L12.4887 8.35534L15.3995 5.74043C15.9228 5.27076 15.6336 4.45075 14.9121 4.35428L10.8887 3.81352L9.09038 0.452219C8.76818 -0.146926 7.83461 -0.154542 7.50965 0.452219Z" fill="#FF7A00"/>
                                        </svg>
                                        <svg width="16" height="13" viewBox="0 0 16 13" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M7.50965 0.452219L5.71136 3.81352L1.68793 4.35428C0.966409 4.45075 0.677251 5.27076 1.20049 5.74043L4.11135 8.35534L3.42288 12.0492C3.29895 12.7169 4.06178 13.217 4.70068 12.9048L8.30002 11.1607L11.8994 12.9048C12.5383 13.2145 13.3011 12.7169 13.1772 12.0492L12.4887 8.35534L15.3995 5.74043C15.9228 5.27076 15.6336 4.45075 14.9121 4.35428L10.8887 3.81352L9.09038 0.452219C8.76818 -0.146926 7.83461 -0.154542 7.50965 0.452219Z" fill="#FF7A00"/>
                                        </svg>
                                        <svg width="16" height="13" viewBox="0 0 16 13" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M7.50965 0.452219L5.71136 3.81352L1.68793 4.35428C0.966409 4.45075 0.677251 5.27076 1.20049 5.74043L4.11135 8.35534L3.42288 12.0492C3.29895 12.7169 4.06178 13.217 4.70068 12.9048L8.30002 11.1607L11.8994 12.9048C12.5383 13.2145 13.3011 12.7169 13.1772 12.0492L12.4887 8.35534L15.3995 5.74043C15.9228 5.27076 15.6336 4.45075 14.9121 4.35428L10.8887 3.81352L9.09038 0.452219C8.76818 -0.146926 7.83461 -0.154542 7.50965 0.452219Z" fill="#FF7A00"/>
                                        </svg>
                                        <svg width="16" height="13" viewBox="0 0 16 13" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M7.50965 0.452219L5.71136 3.81352L1.68793 4.35428C0.966409 4.45075 0.677251 5.27076 1.20049 5.74043L4.11135 8.35534L3.42288 12.0492C3.29895 12.7169 4.06178 13.217 4.70068 12.9048L8.30002 11.1607L11.8994 12.9048C12.5383 13.2145 13.3011 12.7169 13.1772 12.0492L12.4887 8.35534L15.3995 5.74043C15.9228 5.27076 15.6336 4.45075 14.9121 4.35428L10.8887 3.81352L9.09038 0.452219C8.76818 -0.146926 7.83461 -0.154542 7.50965 0.452219Z" fill="#FF7A00"/>
                                        </svg>
                                    .shop__block-slider-title Успеть до восхода
                                    .shop__block-slider-add Ахун Мансур
                            .swiper-slide 
                                .shop__block-slider-item
                                    .shop__block-slider-img 
                                        img(src="./img/index/shop-5.png", alt="img")
                                    .shop__block-slider-star
                                        <svg width="16" height="13" viewBox="0 0 16 13" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M7.50965 0.452219L5.71136 3.81352L1.68793 4.35428C0.966409 4.45075 0.677251 5.27076 1.20049 5.74043L4.11135 8.35534L3.42288 12.0492C3.29895 12.7169 4.06178 13.217 4.70068 12.9048L8.30002 11.1607L11.8994 12.9048C12.5383 13.2145 13.3011 12.7169 13.1772 12.0492L12.4887 8.35534L15.3995 5.74043C15.9228 5.27076 15.6336 4.45075 14.9121 4.35428L10.8887 3.81352L9.09038 0.452219C8.76818 -0.146926 7.83461 -0.154542 7.50965 0.452219Z" fill="#FF7A00"/>
                                        </svg>
                                        <svg width="16" height="13" viewBox="0 0 16 13" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M7.50965 0.452219L5.71136 3.81352L1.68793 4.35428C0.966409 4.45075 0.677251 5.27076 1.20049 5.74043L4.11135 8.35534L3.42288 12.0492C3.29895 12.7169 4.06178 13.217 4.70068 12.9048L8.30002 11.1607L11.8994 12.9048C12.5383 13.2145 13.3011 12.7169 13.1772 12.0492L12.4887 8.35534L15.3995 5.74043C15.9228 5.27076 15.6336 4.45075 14.9121 4.35428L10.8887 3.81352L9.09038 0.452219C8.76818 -0.146926 7.83461 -0.154542 7.50965 0.452219Z" fill="#FF7A00"/>
                                        </svg>
                                        <svg width="16" height="13" viewBox="0 0 16 13" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M7.50965 0.452219L5.71136 3.81352L1.68793 4.35428C0.966409 4.45075 0.677251 5.27076 1.20049 5.74043L4.11135 8.35534L3.42288 12.0492C3.29895 12.7169 4.06178 13.217 4.70068 12.9048L8.30002 11.1607L11.8994 12.9048C12.5383 13.2145 13.3011 12.7169 13.1772 12.0492L12.4887 8.35534L15.3995 5.74043C15.9228 5.27076 15.6336 4.45075 14.9121 4.35428L10.8887 3.81352L9.09038 0.452219C8.76818 -0.146926 7.83461 -0.154542 7.50965 0.452219Z" fill="#FF7A00"/>
                                        </svg>
                                        <svg width="16" height="13" viewBox="0 0 16 13" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M7.50965 0.452219L5.71136 3.81352L1.68793 4.35428C0.966409 4.45075 0.677251 5.27076 1.20049 5.74043L4.11135 8.35534L3.42288 12.0492C3.29895 12.7169 4.06178 13.217 4.70068 12.9048L8.30002 11.1607L11.8994 12.9048C12.5383 13.2145 13.3011 12.7169 13.1772 12.0492L12.4887 8.35534L15.3995 5.74043C15.9228 5.27076 15.6336 4.45075 14.9121 4.35428L10.8887 3.81352L9.09038 0.452219C8.76818 -0.146926 7.83461 -0.154542 7.50965 0.452219Z" fill="#FF7A00"/>
                                        </svg>
                                    .shop__block-slider-title Успеть до восхода
                                    .shop__block-slider-add Ахун Мансур
                            .swiper-slide 
                                .shop__block-slider-item
                                    .shop__block-slider-img 
                                        img(src="./img/index/shop-1.png", alt="img")
                                    .shop__block-slider-star
                                        <svg width="16" height="13" viewBox="0 0 16 13" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M7.50965 0.452219L5.71136 3.81352L1.68793 4.35428C0.966409 4.45075 0.677251 5.27076 1.20049 5.74043L4.11135 8.35534L3.42288 12.0492C3.29895 12.7169 4.06178 13.217 4.70068 12.9048L8.30002 11.1607L11.8994 12.9048C12.5383 13.2145 13.3011 12.7169 13.1772 12.0492L12.4887 8.35534L15.3995 5.74043C15.9228 5.27076 15.6336 4.45075 14.9121 4.35428L10.8887 3.81352L9.09038 0.452219C8.76818 -0.146926 7.83461 -0.154542 7.50965 0.452219Z" fill="#FF7A00"/>
                                        </svg>
                                        <svg width="16" height="13" viewBox="0 0 16 13" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M7.50965 0.452219L5.71136 3.81352L1.68793 4.35428C0.966409 4.45075 0.677251 5.27076 1.20049 5.74043L4.11135 8.35534L3.42288 12.0492C3.29895 12.7169 4.06178 13.217 4.70068 12.9048L8.30002 11.1607L11.8994 12.9048C12.5383 13.2145 13.3011 12.7169 13.1772 12.0492L12.4887 8.35534L15.3995 5.74043C15.9228 5.27076 15.6336 4.45075 14.9121 4.35428L10.8887 3.81352L9.09038 0.452219C8.76818 -0.146926 7.83461 -0.154542 7.50965 0.452219Z" fill="#FF7A00"/>
                                        </svg>
                                        <svg width="16" height="13" viewBox="0 0 16 13" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M7.50965 0.452219L5.71136 3.81352L1.68793 4.35428C0.966409 4.45075 0.677251 5.27076 1.20049 5.74043L4.11135 8.35534L3.42288 12.0492C3.29895 12.7169 4.06178 13.217 4.70068 12.9048L8.30002 11.1607L11.8994 12.9048C12.5383 13.2145 13.3011 12.7169 13.1772 12.0492L12.4887 8.35534L15.3995 5.74043C15.9228 5.27076 15.6336 4.45075 14.9121 4.35428L10.8887 3.81352L9.09038 0.452219C8.76818 -0.146926 7.83461 -0.154542 7.50965 0.452219Z" fill="#FF7A00"/>
                                        </svg>
                                        <svg width="16" height="13" viewBox="0 0 16 13" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M7.50965 0.452219L5.71136 3.81352L1.68793 4.35428C0.966409 4.45075 0.677251 5.27076 1.20049 5.74043L4.11135 8.35534L3.42288 12.0492C3.29895 12.7169 4.06178 13.217 4.70068 12.9048L8.30002 11.1607L11.8994 12.9048C12.5383 13.2145 13.3011 12.7169 13.1772 12.0492L12.4887 8.35534L15.3995 5.74043C15.9228 5.27076 15.6336 4.45075 14.9121 4.35428L10.8887 3.81352L9.09038 0.452219C8.76818 -0.146926 7.83461 -0.154542 7.50965 0.452219Z" fill="#FF7A00"/>
                                        </svg>
                                    .shop__block-slider-title Успеть до восхода
                                    .shop__block-slider-add Ахун Мансур
                    .swiper-controls 
                        .swiper-button-next
                            .swiper-button-next-arrow
                        .swiper-button-prev
                            .swiper-button-prev-arrow
                        .swiper-pagination
                .shop__block-slider.display-n#indexShopElement-2
                    .swiper.shopSlider-2
                        .swiper-wrapper
                            .swiper-slide 
                                .shop__block-slider-item
                                    .shop__block-slider-img 
                                        img(src="./img/index/shop-1.png", alt="img")
                                    .shop__block-slider-star
                                        <svg width="16" height="13" viewBox="0 0 16 13" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M7.50965 0.452219L5.71136 3.81352L1.68793 4.35428C0.966409 4.45075 0.677251 5.27076 1.20049 5.74043L4.11135 8.35534L3.42288 12.0492C3.29895 12.7169 4.06178 13.217 4.70068 12.9048L8.30002 11.1607L11.8994 12.9048C12.5383 13.2145 13.3011 12.7169 13.1772 12.0492L12.4887 8.35534L15.3995 5.74043C15.9228 5.27076 15.6336 4.45075 14.9121 4.35428L10.8887 3.81352L9.09038 0.452219C8.76818 -0.146926 7.83461 -0.154542 7.50965 0.452219Z" fill="#FF7A00"/>
                                        </svg>
                                        <svg width="16" height="13" viewBox="0 0 16 13" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M7.50965 0.452219L5.71136 3.81352L1.68793 4.35428C0.966409 4.45075 0.677251 5.27076 1.20049 5.74043L4.11135 8.35534L3.42288 12.0492C3.29895 12.7169 4.06178 13.217 4.70068 12.9048L8.30002 11.1607L11.8994 12.9048C12.5383 13.2145 13.3011 12.7169 13.1772 12.0492L12.4887 8.35534L15.3995 5.74043C15.9228 5.27076 15.6336 4.45075 14.9121 4.35428L10.8887 3.81352L9.09038 0.452219C8.76818 -0.146926 7.83461 -0.154542 7.50965 0.452219Z" fill="#FF7A00"/>
                                        </svg>
                                        <svg width="16" height="13" viewBox="0 0 16 13" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M7.50965 0.452219L5.71136 3.81352L1.68793 4.35428C0.966409 4.45075 0.677251 5.27076 1.20049 5.74043L4.11135 8.35534L3.42288 12.0492C3.29895 12.7169 4.06178 13.217 4.70068 12.9048L8.30002 11.1607L11.8994 12.9048C12.5383 13.2145 13.3011 12.7169 13.1772 12.0492L12.4887 8.35534L15.3995 5.74043C15.9228 5.27076 15.6336 4.45075 14.9121 4.35428L10.8887 3.81352L9.09038 0.452219C8.76818 -0.146926 7.83461 -0.154542 7.50965 0.452219Z" fill="#FF7A00"/>
                                        </svg>
                                        <svg width="16" height="13" viewBox="0 0 16 13" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M7.50965 0.452219L5.71136 3.81352L1.68793 4.35428C0.966409 4.45075 0.677251 5.27076 1.20049 5.74043L4.11135 8.35534L3.42288 12.0492C3.29895 12.7169 4.06178 13.217 4.70068 12.9048L8.30002 11.1607L11.8994 12.9048C12.5383 13.2145 13.3011 12.7169 13.1772 12.0492L12.4887 8.35534L15.3995 5.74043C15.9228 5.27076 15.6336 4.45075 14.9121 4.35428L10.8887 3.81352L9.09038 0.452219C8.76818 -0.146926 7.83461 -0.154542 7.50965 0.452219Z" fill="#FF7A00"/>
                                        </svg>
                                    .shop__block-slider-title Успеть до восхода
                                    .shop__block-slider-add Ахун Мансур
                            .swiper-slide 
                                .shop__block-slider-item
                                    .shop__block-slider-img 
                                        img(src="./img/index/shop-2.png", alt="img")
                                    .shop__block-slider-star
                                        <svg width="16" height="13" viewBox="0 0 16 13" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M7.50965 0.452219L5.71136 3.81352L1.68793 4.35428C0.966409 4.45075 0.677251 5.27076 1.20049 5.74043L4.11135 8.35534L3.42288 12.0492C3.29895 12.7169 4.06178 13.217 4.70068 12.9048L8.30002 11.1607L11.8994 12.9048C12.5383 13.2145 13.3011 12.7169 13.1772 12.0492L12.4887 8.35534L15.3995 5.74043C15.9228 5.27076 15.6336 4.45075 14.9121 4.35428L10.8887 3.81352L9.09038 0.452219C8.76818 -0.146926 7.83461 -0.154542 7.50965 0.452219Z" fill="#FF7A00"/>
                                        </svg>
                                        <svg width="16" height="13" viewBox="0 0 16 13" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M7.50965 0.452219L5.71136 3.81352L1.68793 4.35428C0.966409 4.45075 0.677251 5.27076 1.20049 5.74043L4.11135 8.35534L3.42288 12.0492C3.29895 12.7169 4.06178 13.217 4.70068 12.9048L8.30002 11.1607L11.8994 12.9048C12.5383 13.2145 13.3011 12.7169 13.1772 12.0492L12.4887 8.35534L15.3995 5.74043C15.9228 5.27076 15.6336 4.45075 14.9121 4.35428L10.8887 3.81352L9.09038 0.452219C8.76818 -0.146926 7.83461 -0.154542 7.50965 0.452219Z" fill="#FF7A00"/>
                                        </svg>
                                        <svg width="16" height="13" viewBox="0 0 16 13" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M7.50965 0.452219L5.71136 3.81352L1.68793 4.35428C0.966409 4.45075 0.677251 5.27076 1.20049 5.74043L4.11135 8.35534L3.42288 12.0492C3.29895 12.7169 4.06178 13.217 4.70068 12.9048L8.30002 11.1607L11.8994 12.9048C12.5383 13.2145 13.3011 12.7169 13.1772 12.0492L12.4887 8.35534L15.3995 5.74043C15.9228 5.27076 15.6336 4.45075 14.9121 4.35428L10.8887 3.81352L9.09038 0.452219C8.76818 -0.146926 7.83461 -0.154542 7.50965 0.452219Z" fill="#FF7A00"/>
                                        </svg>
                                        <svg width="16" height="13" viewBox="0 0 16 13" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M7.50965 0.452219L5.71136 3.81352L1.68793 4.35428C0.966409 4.45075 0.677251 5.27076 1.20049 5.74043L4.11135 8.35534L3.42288 12.0492C3.29895 12.7169 4.06178 13.217 4.70068 12.9048L8.30002 11.1607L11.8994 12.9048C12.5383 13.2145 13.3011 12.7169 13.1772 12.0492L12.4887 8.35534L15.3995 5.74043C15.9228 5.27076 15.6336 4.45075 14.9121 4.35428L10.8887 3.81352L9.09038 0.452219C8.76818 -0.146926 7.83461 -0.154542 7.50965 0.452219Z" fill="#FF7A00"/>
                                        </svg>
                                    .shop__block-slider-title Успеть до восхода
                                    .shop__block-slider-add Ахун Мансур
                            .swiper-slide 
                                .shop__block-slider-item
                                    .shop__block-slider-img 
                                        img(src="./img/index/shop-3.png", alt="img")
                                    .shop__block-slider-star
                                        <svg width="16" height="13" viewBox="0 0 16 13" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M7.50965 0.452219L5.71136 3.81352L1.68793 4.35428C0.966409 4.45075 0.677251 5.27076 1.20049 5.74043L4.11135 8.35534L3.42288 12.0492C3.29895 12.7169 4.06178 13.217 4.70068 12.9048L8.30002 11.1607L11.8994 12.9048C12.5383 13.2145 13.3011 12.7169 13.1772 12.0492L12.4887 8.35534L15.3995 5.74043C15.9228 5.27076 15.6336 4.45075 14.9121 4.35428L10.8887 3.81352L9.09038 0.452219C8.76818 -0.146926 7.83461 -0.154542 7.50965 0.452219Z" fill="#FF7A00"/>
                                        </svg>
                                        <svg width="16" height="13" viewBox="0 0 16 13" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M7.50965 0.452219L5.71136 3.81352L1.68793 4.35428C0.966409 4.45075 0.677251 5.27076 1.20049 5.74043L4.11135 8.35534L3.42288 12.0492C3.29895 12.7169 4.06178 13.217 4.70068 12.9048L8.30002 11.1607L11.8994 12.9048C12.5383 13.2145 13.3011 12.7169 13.1772 12.0492L12.4887 8.35534L15.3995 5.74043C15.9228 5.27076 15.6336 4.45075 14.9121 4.35428L10.8887 3.81352L9.09038 0.452219C8.76818 -0.146926 7.83461 -0.154542 7.50965 0.452219Z" fill="#FF7A00"/>
                                        </svg>
                                        <svg width="16" height="13" viewBox="0 0 16 13" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M7.50965 0.452219L5.71136 3.81352L1.68793 4.35428C0.966409 4.45075 0.677251 5.27076 1.20049 5.74043L4.11135 8.35534L3.42288 12.0492C3.29895 12.7169 4.06178 13.217 4.70068 12.9048L8.30002 11.1607L11.8994 12.9048C12.5383 13.2145 13.3011 12.7169 13.1772 12.0492L12.4887 8.35534L15.3995 5.74043C15.9228 5.27076 15.6336 4.45075 14.9121 4.35428L10.8887 3.81352L9.09038 0.452219C8.76818 -0.146926 7.83461 -0.154542 7.50965 0.452219Z" fill="#FF7A00"/>
                                        </svg>
                                        <svg width="16" height="13" viewBox="0 0 16 13" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M7.50965 0.452219L5.71136 3.81352L1.68793 4.35428C0.966409 4.45075 0.677251 5.27076 1.20049 5.74043L4.11135 8.35534L3.42288 12.0492C3.29895 12.7169 4.06178 13.217 4.70068 12.9048L8.30002 11.1607L11.8994 12.9048C12.5383 13.2145 13.3011 12.7169 13.1772 12.0492L12.4887 8.35534L15.3995 5.74043C15.9228 5.27076 15.6336 4.45075 14.9121 4.35428L10.8887 3.81352L9.09038 0.452219C8.76818 -0.146926 7.83461 -0.154542 7.50965 0.452219Z" fill="#FF7A00"/>
                                        </svg>
                                    .shop__block-slider-title Успеть до восхода
                                    .shop__block-slider-add Ахун Мансур
                            .swiper-slide 
                                .shop__block-slider-item
                                    .shop__block-slider-img 
                                        img(src="./img/index/shop-4.png", alt="img")
                                    .shop__block-slider-star
                                        <svg width="16" height="13" viewBox="0 0 16 13" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M7.50965 0.452219L5.71136 3.81352L1.68793 4.35428C0.966409 4.45075 0.677251 5.27076 1.20049 5.74043L4.11135 8.35534L3.42288 12.0492C3.29895 12.7169 4.06178 13.217 4.70068 12.9048L8.30002 11.1607L11.8994 12.9048C12.5383 13.2145 13.3011 12.7169 13.1772 12.0492L12.4887 8.35534L15.3995 5.74043C15.9228 5.27076 15.6336 4.45075 14.9121 4.35428L10.8887 3.81352L9.09038 0.452219C8.76818 -0.146926 7.83461 -0.154542 7.50965 0.452219Z" fill="#FF7A00"/>
                                        </svg>
                                        <svg width="16" height="13" viewBox="0 0 16 13" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M7.50965 0.452219L5.71136 3.81352L1.68793 4.35428C0.966409 4.45075 0.677251 5.27076 1.20049 5.74043L4.11135 8.35534L3.42288 12.0492C3.29895 12.7169 4.06178 13.217 4.70068 12.9048L8.30002 11.1607L11.8994 12.9048C12.5383 13.2145 13.3011 12.7169 13.1772 12.0492L12.4887 8.35534L15.3995 5.74043C15.9228 5.27076 15.6336 4.45075 14.9121 4.35428L10.8887 3.81352L9.09038 0.452219C8.76818 -0.146926 7.83461 -0.154542 7.50965 0.452219Z" fill="#FF7A00"/>
                                        </svg>
                                        <svg width="16" height="13" viewBox="0 0 16 13" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M7.50965 0.452219L5.71136 3.81352L1.68793 4.35428C0.966409 4.45075 0.677251 5.27076 1.20049 5.74043L4.11135 8.35534L3.42288 12.0492C3.29895 12.7169 4.06178 13.217 4.70068 12.9048L8.30002 11.1607L11.8994 12.9048C12.5383 13.2145 13.3011 12.7169 13.1772 12.0492L12.4887 8.35534L15.3995 5.74043C15.9228 5.27076 15.6336 4.45075 14.9121 4.35428L10.8887 3.81352L9.09038 0.452219C8.76818 -0.146926 7.83461 -0.154542 7.50965 0.452219Z" fill="#FF7A00"/>
                                        </svg>
                                        <svg width="16" height="13" viewBox="0 0 16 13" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M7.50965 0.452219L5.71136 3.81352L1.68793 4.35428C0.966409 4.45075 0.677251 5.27076 1.20049 5.74043L4.11135 8.35534L3.42288 12.0492C3.29895 12.7169 4.06178 13.217 4.70068 12.9048L8.30002 11.1607L11.8994 12.9048C12.5383 13.2145 13.3011 12.7169 13.1772 12.0492L12.4887 8.35534L15.3995 5.74043C15.9228 5.27076 15.6336 4.45075 14.9121 4.35428L10.8887 3.81352L9.09038 0.452219C8.76818 -0.146926 7.83461 -0.154542 7.50965 0.452219Z" fill="#FF7A00"/>
                                        </svg>
                                    .shop__block-slider-title Успеть до восхода
                                    .shop__block-slider-add Ахун Мансур
                            .swiper-slide 
                                .shop__block-slider-item
                                    .shop__block-slider-img 
                                        img(src="./img/index/shop-5.png", alt="img")
                                    .shop__block-slider-star
                                        <svg width="16" height="13" viewBox="0 0 16 13" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M7.50965 0.452219L5.71136 3.81352L1.68793 4.35428C0.966409 4.45075 0.677251 5.27076 1.20049 5.74043L4.11135 8.35534L3.42288 12.0492C3.29895 12.7169 4.06178 13.217 4.70068 12.9048L8.30002 11.1607L11.8994 12.9048C12.5383 13.2145 13.3011 12.7169 13.1772 12.0492L12.4887 8.35534L15.3995 5.74043C15.9228 5.27076 15.6336 4.45075 14.9121 4.35428L10.8887 3.81352L9.09038 0.452219C8.76818 -0.146926 7.83461 -0.154542 7.50965 0.452219Z" fill="#FF7A00"/>
                                        </svg>
                                        <svg width="16" height="13" viewBox="0 0 16 13" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M7.50965 0.452219L5.71136 3.81352L1.68793 4.35428C0.966409 4.45075 0.677251 5.27076 1.20049 5.74043L4.11135 8.35534L3.42288 12.0492C3.29895 12.7169 4.06178 13.217 4.70068 12.9048L8.30002 11.1607L11.8994 12.9048C12.5383 13.2145 13.3011 12.7169 13.1772 12.0492L12.4887 8.35534L15.3995 5.74043C15.9228 5.27076 15.6336 4.45075 14.9121 4.35428L10.8887 3.81352L9.09038 0.452219C8.76818 -0.146926 7.83461 -0.154542 7.50965 0.452219Z" fill="#FF7A00"/>
                                        </svg>
                                        <svg width="16" height="13" viewBox="0 0 16 13" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M7.50965 0.452219L5.71136 3.81352L1.68793 4.35428C0.966409 4.45075 0.677251 5.27076 1.20049 5.74043L4.11135 8.35534L3.42288 12.0492C3.29895 12.7169 4.06178 13.217 4.70068 12.9048L8.30002 11.1607L11.8994 12.9048C12.5383 13.2145 13.3011 12.7169 13.1772 12.0492L12.4887 8.35534L15.3995 5.74043C15.9228 5.27076 15.6336 4.45075 14.9121 4.35428L10.8887 3.81352L9.09038 0.452219C8.76818 -0.146926 7.83461 -0.154542 7.50965 0.452219Z" fill="#FF7A00"/>
                                        </svg>
                                        <svg width="16" height="13" viewBox="0 0 16 13" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M7.50965 0.452219L5.71136 3.81352L1.68793 4.35428C0.966409 4.45075 0.677251 5.27076 1.20049 5.74043L4.11135 8.35534L3.42288 12.0492C3.29895 12.7169 4.06178 13.217 4.70068 12.9048L8.30002 11.1607L11.8994 12.9048C12.5383 13.2145 13.3011 12.7169 13.1772 12.0492L12.4887 8.35534L15.3995 5.74043C15.9228 5.27076 15.6336 4.45075 14.9121 4.35428L10.8887 3.81352L9.09038 0.452219C8.76818 -0.146926 7.83461 -0.154542 7.50965 0.452219Z" fill="#FF7A00"/>
                                        </svg>
                                    .shop__block-slider-title Успеть до восхода
                                    .shop__block-slider-add Ахун Мансур
                            .swiper-slide 
                                .shop__block-slider-item
                                    .shop__block-slider-img 
                                        img(src="./img/index/shop-1.png", alt="img")
                                    .shop__block-slider-star
                                        <svg width="16" height="13" viewBox="0 0 16 13" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M7.50965 0.452219L5.71136 3.81352L1.68793 4.35428C0.966409 4.45075 0.677251 5.27076 1.20049 5.74043L4.11135 8.35534L3.42288 12.0492C3.29895 12.7169 4.06178 13.217 4.70068 12.9048L8.30002 11.1607L11.8994 12.9048C12.5383 13.2145 13.3011 12.7169 13.1772 12.0492L12.4887 8.35534L15.3995 5.74043C15.9228 5.27076 15.6336 4.45075 14.9121 4.35428L10.8887 3.81352L9.09038 0.452219C8.76818 -0.146926 7.83461 -0.154542 7.50965 0.452219Z" fill="#FF7A00"/>
                                        </svg>
                                        <svg width="16" height="13" viewBox="0 0 16 13" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M7.50965 0.452219L5.71136 3.81352L1.68793 4.35428C0.966409 4.45075 0.677251 5.27076 1.20049 5.74043L4.11135 8.35534L3.42288 12.0492C3.29895 12.7169 4.06178 13.217 4.70068 12.9048L8.30002 11.1607L11.8994 12.9048C12.5383 13.2145 13.3011 12.7169 13.1772 12.0492L12.4887 8.35534L15.3995 5.74043C15.9228 5.27076 15.6336 4.45075 14.9121 4.35428L10.8887 3.81352L9.09038 0.452219C8.76818 -0.146926 7.83461 -0.154542 7.50965 0.452219Z" fill="#FF7A00"/>
                                        </svg>
                                        <svg width="16" height="13" viewBox="0 0 16 13" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M7.50965 0.452219L5.71136 3.81352L1.68793 4.35428C0.966409 4.45075 0.677251 5.27076 1.20049 5.74043L4.11135 8.35534L3.42288 12.0492C3.29895 12.7169 4.06178 13.217 4.70068 12.9048L8.30002 11.1607L11.8994 12.9048C12.5383 13.2145 13.3011 12.7169 13.1772 12.0492L12.4887 8.35534L15.3995 5.74043C15.9228 5.27076 15.6336 4.45075 14.9121 4.35428L10.8887 3.81352L9.09038 0.452219C8.76818 -0.146926 7.83461 -0.154542 7.50965 0.452219Z" fill="#FF7A00"/>
                                        </svg>
                                        <svg width="16" height="13" viewBox="0 0 16 13" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M7.50965 0.452219L5.71136 3.81352L1.68793 4.35428C0.966409 4.45075 0.677251 5.27076 1.20049 5.74043L4.11135 8.35534L3.42288 12.0492C3.29895 12.7169 4.06178 13.217 4.70068 12.9048L8.30002 11.1607L11.8994 12.9048C12.5383 13.2145 13.3011 12.7169 13.1772 12.0492L12.4887 8.35534L15.3995 5.74043C15.9228 5.27076 15.6336 4.45075 14.9121 4.35428L10.8887 3.81352L9.09038 0.452219C8.76818 -0.146926 7.83461 -0.154542 7.50965 0.452219Z" fill="#FF7A00"/>
                                        </svg>
                                    .shop__block-slider-title Успеть до восхода
                                    .shop__block-slider-add Ахун Мансур
                    .swiper-controls 
                        .swiper-button-next
                            .swiper-button-next-arrow
                        .swiper-button-prev
                            .swiper-button-prev-arrow
                        .swiper-pagination
                .shop__block-slider.display-n#indexShopElement-3
                    .swiper.shopSlider-3
                        .swiper-wrapper
                            .swiper-slide 
                                .shop__block-slider-item
                                    .shop__block-slider-img 
                                        img(src="./img/index/shop-1.png", alt="img")
                                    .shop__block-slider-star
                                        <svg width="16" height="13" viewBox="0 0 16 13" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M7.50965 0.452219L5.71136 3.81352L1.68793 4.35428C0.966409 4.45075 0.677251 5.27076 1.20049 5.74043L4.11135 8.35534L3.42288 12.0492C3.29895 12.7169 4.06178 13.217 4.70068 12.9048L8.30002 11.1607L11.8994 12.9048C12.5383 13.2145 13.3011 12.7169 13.1772 12.0492L12.4887 8.35534L15.3995 5.74043C15.9228 5.27076 15.6336 4.45075 14.9121 4.35428L10.8887 3.81352L9.09038 0.452219C8.76818 -0.146926 7.83461 -0.154542 7.50965 0.452219Z" fill="#FF7A00"/>
                                        </svg>
                                        <svg width="16" height="13" viewBox="0 0 16 13" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M7.50965 0.452219L5.71136 3.81352L1.68793 4.35428C0.966409 4.45075 0.677251 5.27076 1.20049 5.74043L4.11135 8.35534L3.42288 12.0492C3.29895 12.7169 4.06178 13.217 4.70068 12.9048L8.30002 11.1607L11.8994 12.9048C12.5383 13.2145 13.3011 12.7169 13.1772 12.0492L12.4887 8.35534L15.3995 5.74043C15.9228 5.27076 15.6336 4.45075 14.9121 4.35428L10.8887 3.81352L9.09038 0.452219C8.76818 -0.146926 7.83461 -0.154542 7.50965 0.452219Z" fill="#FF7A00"/>
                                        </svg>
                                        <svg width="16" height="13" viewBox="0 0 16 13" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M7.50965 0.452219L5.71136 3.81352L1.68793 4.35428C0.966409 4.45075 0.677251 5.27076 1.20049 5.74043L4.11135 8.35534L3.42288 12.0492C3.29895 12.7169 4.06178 13.217 4.70068 12.9048L8.30002 11.1607L11.8994 12.9048C12.5383 13.2145 13.3011 12.7169 13.1772 12.0492L12.4887 8.35534L15.3995 5.74043C15.9228 5.27076 15.6336 4.45075 14.9121 4.35428L10.8887 3.81352L9.09038 0.452219C8.76818 -0.146926 7.83461 -0.154542 7.50965 0.452219Z" fill="#FF7A00"/>
                                        </svg>
                                        <svg width="16" height="13" viewBox="0 0 16 13" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M7.50965 0.452219L5.71136 3.81352L1.68793 4.35428C0.966409 4.45075 0.677251 5.27076 1.20049 5.74043L4.11135 8.35534L3.42288 12.0492C3.29895 12.7169 4.06178 13.217 4.70068 12.9048L8.30002 11.1607L11.8994 12.9048C12.5383 13.2145 13.3011 12.7169 13.1772 12.0492L12.4887 8.35534L15.3995 5.74043C15.9228 5.27076 15.6336 4.45075 14.9121 4.35428L10.8887 3.81352L9.09038 0.452219C8.76818 -0.146926 7.83461 -0.154542 7.50965 0.452219Z" fill="#FF7A00"/>
                                        </svg>
                                    .shop__block-slider-title Успеть до восхода
                                    .shop__block-slider-add Ахун Мансур
                            .swiper-slide 
                                .shop__block-slider-item
                                    .shop__block-slider-img 
                                        img(src="./img/index/shop-2.png", alt="img")
                                    .shop__block-slider-star
                                        <svg width="16" height="13" viewBox="0 0 16 13" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M7.50965 0.452219L5.71136 3.81352L1.68793 4.35428C0.966409 4.45075 0.677251 5.27076 1.20049 5.74043L4.11135 8.35534L3.42288 12.0492C3.29895 12.7169 4.06178 13.217 4.70068 12.9048L8.30002 11.1607L11.8994 12.9048C12.5383 13.2145 13.3011 12.7169 13.1772 12.0492L12.4887 8.35534L15.3995 5.74043C15.9228 5.27076 15.6336 4.45075 14.9121 4.35428L10.8887 3.81352L9.09038 0.452219C8.76818 -0.146926 7.83461 -0.154542 7.50965 0.452219Z" fill="#FF7A00"/>
                                        </svg>
                                        <svg width="16" height="13" viewBox="0 0 16 13" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M7.50965 0.452219L5.71136 3.81352L1.68793 4.35428C0.966409 4.45075 0.677251 5.27076 1.20049 5.74043L4.11135 8.35534L3.42288 12.0492C3.29895 12.7169 4.06178 13.217 4.70068 12.9048L8.30002 11.1607L11.8994 12.9048C12.5383 13.2145 13.3011 12.7169 13.1772 12.0492L12.4887 8.35534L15.3995 5.74043C15.9228 5.27076 15.6336 4.45075 14.9121 4.35428L10.8887 3.81352L9.09038 0.452219C8.76818 -0.146926 7.83461 -0.154542 7.50965 0.452219Z" fill="#FF7A00"/>
                                        </svg>
                                        <svg width="16" height="13" viewBox="0 0 16 13" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M7.50965 0.452219L5.71136 3.81352L1.68793 4.35428C0.966409 4.45075 0.677251 5.27076 1.20049 5.74043L4.11135 8.35534L3.42288 12.0492C3.29895 12.7169 4.06178 13.217 4.70068 12.9048L8.30002 11.1607L11.8994 12.9048C12.5383 13.2145 13.3011 12.7169 13.1772 12.0492L12.4887 8.35534L15.3995 5.74043C15.9228 5.27076 15.6336 4.45075 14.9121 4.35428L10.8887 3.81352L9.09038 0.452219C8.76818 -0.146926 7.83461 -0.154542 7.50965 0.452219Z" fill="#FF7A00"/>
                                        </svg>
                                        <svg width="16" height="13" viewBox="0 0 16 13" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M7.50965 0.452219L5.71136 3.81352L1.68793 4.35428C0.966409 4.45075 0.677251 5.27076 1.20049 5.74043L4.11135 8.35534L3.42288 12.0492C3.29895 12.7169 4.06178 13.217 4.70068 12.9048L8.30002 11.1607L11.8994 12.9048C12.5383 13.2145 13.3011 12.7169 13.1772 12.0492L12.4887 8.35534L15.3995 5.74043C15.9228 5.27076 15.6336 4.45075 14.9121 4.35428L10.8887 3.81352L9.09038 0.452219C8.76818 -0.146926 7.83461 -0.154542 7.50965 0.452219Z" fill="#FF7A00"/>
                                        </svg>
                                    .shop__block-slider-title Успеть до восхода
                                    .shop__block-slider-add Ахун Мансур
                            .swiper-slide 
                                .shop__block-slider-item
                                    .shop__block-slider-img 
                                        img(src="./img/index/shop-3.png", alt="img")
                                    .shop__block-slider-star
                                        <svg width="16" height="13" viewBox="0 0 16 13" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M7.50965 0.452219L5.71136 3.81352L1.68793 4.35428C0.966409 4.45075 0.677251 5.27076 1.20049 5.74043L4.11135 8.35534L3.42288 12.0492C3.29895 12.7169 4.06178 13.217 4.70068 12.9048L8.30002 11.1607L11.8994 12.9048C12.5383 13.2145 13.3011 12.7169 13.1772 12.0492L12.4887 8.35534L15.3995 5.74043C15.9228 5.27076 15.6336 4.45075 14.9121 4.35428L10.8887 3.81352L9.09038 0.452219C8.76818 -0.146926 7.83461 -0.154542 7.50965 0.452219Z" fill="#FF7A00"/>
                                        </svg>
                                        <svg width="16" height="13" viewBox="0 0 16 13" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M7.50965 0.452219L5.71136 3.81352L1.68793 4.35428C0.966409 4.45075 0.677251 5.27076 1.20049 5.74043L4.11135 8.35534L3.42288 12.0492C3.29895 12.7169 4.06178 13.217 4.70068 12.9048L8.30002 11.1607L11.8994 12.9048C12.5383 13.2145 13.3011 12.7169 13.1772 12.0492L12.4887 8.35534L15.3995 5.74043C15.9228 5.27076 15.6336 4.45075 14.9121 4.35428L10.8887 3.81352L9.09038 0.452219C8.76818 -0.146926 7.83461 -0.154542 7.50965 0.452219Z" fill="#FF7A00"/>
                                        </svg>
                                        <svg width="16" height="13" viewBox="0 0 16 13" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M7.50965 0.452219L5.71136 3.81352L1.68793 4.35428C0.966409 4.45075 0.677251 5.27076 1.20049 5.74043L4.11135 8.35534L3.42288 12.0492C3.29895 12.7169 4.06178 13.217 4.70068 12.9048L8.30002 11.1607L11.8994 12.9048C12.5383 13.2145 13.3011 12.7169 13.1772 12.0492L12.4887 8.35534L15.3995 5.74043C15.9228 5.27076 15.6336 4.45075 14.9121 4.35428L10.8887 3.81352L9.09038 0.452219C8.76818 -0.146926 7.83461 -0.154542 7.50965 0.452219Z" fill="#FF7A00"/>
                                        </svg>
                                        <svg width="16" height="13" viewBox="0 0 16 13" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M7.50965 0.452219L5.71136 3.81352L1.68793 4.35428C0.966409 4.45075 0.677251 5.27076 1.20049 5.74043L4.11135 8.35534L3.42288 12.0492C3.29895 12.7169 4.06178 13.217 4.70068 12.9048L8.30002 11.1607L11.8994 12.9048C12.5383 13.2145 13.3011 12.7169 13.1772 12.0492L12.4887 8.35534L15.3995 5.74043C15.9228 5.27076 15.6336 4.45075 14.9121 4.35428L10.8887 3.81352L9.09038 0.452219C8.76818 -0.146926 7.83461 -0.154542 7.50965 0.452219Z" fill="#FF7A00"/>
                                        </svg>
                                    .shop__block-slider-title Успеть до восхода
                                    .shop__block-slider-add Ахун Мансур
                            .swiper-slide 
                                .shop__block-slider-item
                                    .shop__block-slider-img 
                                        img(src="./img/index/shop-4.png", alt="img")
                                    .shop__block-slider-star
                                        <svg width="16" height="13" viewBox="0 0 16 13" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M7.50965 0.452219L5.71136 3.81352L1.68793 4.35428C0.966409 4.45075 0.677251 5.27076 1.20049 5.74043L4.11135 8.35534L3.42288 12.0492C3.29895 12.7169 4.06178 13.217 4.70068 12.9048L8.30002 11.1607L11.8994 12.9048C12.5383 13.2145 13.3011 12.7169 13.1772 12.0492L12.4887 8.35534L15.3995 5.74043C15.9228 5.27076 15.6336 4.45075 14.9121 4.35428L10.8887 3.81352L9.09038 0.452219C8.76818 -0.146926 7.83461 -0.154542 7.50965 0.452219Z" fill="#FF7A00"/>
                                        </svg>
                                        <svg width="16" height="13" viewBox="0 0 16 13" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M7.50965 0.452219L5.71136 3.81352L1.68793 4.35428C0.966409 4.45075 0.677251 5.27076 1.20049 5.74043L4.11135 8.35534L3.42288 12.0492C3.29895 12.7169 4.06178 13.217 4.70068 12.9048L8.30002 11.1607L11.8994 12.9048C12.5383 13.2145 13.3011 12.7169 13.1772 12.0492L12.4887 8.35534L15.3995 5.74043C15.9228 5.27076 15.6336 4.45075 14.9121 4.35428L10.8887 3.81352L9.09038 0.452219C8.76818 -0.146926 7.83461 -0.154542 7.50965 0.452219Z" fill="#FF7A00"/>
                                        </svg>
                                        <svg width="16" height="13" viewBox="0 0 16 13" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M7.50965 0.452219L5.71136 3.81352L1.68793 4.35428C0.966409 4.45075 0.677251 5.27076 1.20049 5.74043L4.11135 8.35534L3.42288 12.0492C3.29895 12.7169 4.06178 13.217 4.70068 12.9048L8.30002 11.1607L11.8994 12.9048C12.5383 13.2145 13.3011 12.7169 13.1772 12.0492L12.4887 8.35534L15.3995 5.74043C15.9228 5.27076 15.6336 4.45075 14.9121 4.35428L10.8887 3.81352L9.09038 0.452219C8.76818 -0.146926 7.83461 -0.154542 7.50965 0.452219Z" fill="#FF7A00"/>
                                        </svg>
                                        <svg width="16" height="13" viewBox="0 0 16 13" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M7.50965 0.452219L5.71136 3.81352L1.68793 4.35428C0.966409 4.45075 0.677251 5.27076 1.20049 5.74043L4.11135 8.35534L3.42288 12.0492C3.29895 12.7169 4.06178 13.217 4.70068 12.9048L8.30002 11.1607L11.8994 12.9048C12.5383 13.2145 13.3011 12.7169 13.1772 12.0492L12.4887 8.35534L15.3995 5.74043C15.9228 5.27076 15.6336 4.45075 14.9121 4.35428L10.8887 3.81352L9.09038 0.452219C8.76818 -0.146926 7.83461 -0.154542 7.50965 0.452219Z" fill="#FF7A00"/>
                                        </svg>
                                    .shop__block-slider-title Успеть до восхода
                                    .shop__block-slider-add Ахун Мансур
                            .swiper-slide 
                                .shop__block-slider-item
                                    .shop__block-slider-img 
                                        img(src="./img/index/shop-5.png", alt="img")
                                    .shop__block-slider-star
                                        <svg width="16" height="13" viewBox="0 0 16 13" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M7.50965 0.452219L5.71136 3.81352L1.68793 4.35428C0.966409 4.45075 0.677251 5.27076 1.20049 5.74043L4.11135 8.35534L3.42288 12.0492C3.29895 12.7169 4.06178 13.217 4.70068 12.9048L8.30002 11.1607L11.8994 12.9048C12.5383 13.2145 13.3011 12.7169 13.1772 12.0492L12.4887 8.35534L15.3995 5.74043C15.9228 5.27076 15.6336 4.45075 14.9121 4.35428L10.8887 3.81352L9.09038 0.452219C8.76818 -0.146926 7.83461 -0.154542 7.50965 0.452219Z" fill="#FF7A00"/>
                                        </svg>
                                        <svg width="16" height="13" viewBox="0 0 16 13" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M7.50965 0.452219L5.71136 3.81352L1.68793 4.35428C0.966409 4.45075 0.677251 5.27076 1.20049 5.74043L4.11135 8.35534L3.42288 12.0492C3.29895 12.7169 4.06178 13.217 4.70068 12.9048L8.30002 11.1607L11.8994 12.9048C12.5383 13.2145 13.3011 12.7169 13.1772 12.0492L12.4887 8.35534L15.3995 5.74043C15.9228 5.27076 15.6336 4.45075 14.9121 4.35428L10.8887 3.81352L9.09038 0.452219C8.76818 -0.146926 7.83461 -0.154542 7.50965 0.452219Z" fill="#FF7A00"/>
                                        </svg>
                                        <svg width="16" height="13" viewBox="0 0 16 13" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M7.50965 0.452219L5.71136 3.81352L1.68793 4.35428C0.966409 4.45075 0.677251 5.27076 1.20049 5.74043L4.11135 8.35534L3.42288 12.0492C3.29895 12.7169 4.06178 13.217 4.70068 12.9048L8.30002 11.1607L11.8994 12.9048C12.5383 13.2145 13.3011 12.7169 13.1772 12.0492L12.4887 8.35534L15.3995 5.74043C15.9228 5.27076 15.6336 4.45075 14.9121 4.35428L10.8887 3.81352L9.09038 0.452219C8.76818 -0.146926 7.83461 -0.154542 7.50965 0.452219Z" fill="#FF7A00"/>
                                        </svg>
                                        <svg width="16" height="13" viewBox="0 0 16 13" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M7.50965 0.452219L5.71136 3.81352L1.68793 4.35428C0.966409 4.45075 0.677251 5.27076 1.20049 5.74043L4.11135 8.35534L3.42288 12.0492C3.29895 12.7169 4.06178 13.217 4.70068 12.9048L8.30002 11.1607L11.8994 12.9048C12.5383 13.2145 13.3011 12.7169 13.1772 12.0492L12.4887 8.35534L15.3995 5.74043C15.9228 5.27076 15.6336 4.45075 14.9121 4.35428L10.8887 3.81352L9.09038 0.452219C8.76818 -0.146926 7.83461 -0.154542 7.50965 0.452219Z" fill="#FF7A00"/>
                                        </svg>
                                    .shop__block-slider-title Успеть до восхода
                                    .shop__block-slider-add Ахун Мансур
                            .swiper-slide 
                                .shop__block-slider-item
                                    .shop__block-slider-img 
                                        img(src="./img/index/shop-1.png", alt="img")
                                    .shop__block-slider-star
                                        <svg width="16" height="13" viewBox="0 0 16 13" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M7.50965 0.452219L5.71136 3.81352L1.68793 4.35428C0.966409 4.45075 0.677251 5.27076 1.20049 5.74043L4.11135 8.35534L3.42288 12.0492C3.29895 12.7169 4.06178 13.217 4.70068 12.9048L8.30002 11.1607L11.8994 12.9048C12.5383 13.2145 13.3011 12.7169 13.1772 12.0492L12.4887 8.35534L15.3995 5.74043C15.9228 5.27076 15.6336 4.45075 14.9121 4.35428L10.8887 3.81352L9.09038 0.452219C8.76818 -0.146926 7.83461 -0.154542 7.50965 0.452219Z" fill="#FF7A00"/>
                                        </svg>
                                        <svg width="16" height="13" viewBox="0 0 16 13" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M7.50965 0.452219L5.71136 3.81352L1.68793 4.35428C0.966409 4.45075 0.677251 5.27076 1.20049 5.74043L4.11135 8.35534L3.42288 12.0492C3.29895 12.7169 4.06178 13.217 4.70068 12.9048L8.30002 11.1607L11.8994 12.9048C12.5383 13.2145 13.3011 12.7169 13.1772 12.0492L12.4887 8.35534L15.3995 5.74043C15.9228 5.27076 15.6336 4.45075 14.9121 4.35428L10.8887 3.81352L9.09038 0.452219C8.76818 -0.146926 7.83461 -0.154542 7.50965 0.452219Z" fill="#FF7A00"/>
                                        </svg>
                                        <svg width="16" height="13" viewBox="0 0 16 13" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M7.50965 0.452219L5.71136 3.81352L1.68793 4.35428C0.966409 4.45075 0.677251 5.27076 1.20049 5.74043L4.11135 8.35534L3.42288 12.0492C3.29895 12.7169 4.06178 13.217 4.70068 12.9048L8.30002 11.1607L11.8994 12.9048C12.5383 13.2145 13.3011 12.7169 13.1772 12.0492L12.4887 8.35534L15.3995 5.74043C15.9228 5.27076 15.6336 4.45075 14.9121 4.35428L10.8887 3.81352L9.09038 0.452219C8.76818 -0.146926 7.83461 -0.154542 7.50965 0.452219Z" fill="#FF7A00"/>
                                        </svg>
                                        <svg width="16" height="13" viewBox="0 0 16 13" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M7.50965 0.452219L5.71136 3.81352L1.68793 4.35428C0.966409 4.45075 0.677251 5.27076 1.20049 5.74043L4.11135 8.35534L3.42288 12.0492C3.29895 12.7169 4.06178 13.217 4.70068 12.9048L8.30002 11.1607L11.8994 12.9048C12.5383 13.2145 13.3011 12.7169 13.1772 12.0492L12.4887 8.35534L15.3995 5.74043C15.9228 5.27076 15.6336 4.45075 14.9121 4.35428L10.8887 3.81352L9.09038 0.452219C8.76818 -0.146926 7.83461 -0.154542 7.50965 0.452219Z" fill="#FF7A00"/>
                                        </svg>
                                    .shop__block-slider-title Успеть до восхода
                                    .shop__block-slider-add Ахун Мансур
                    .swiper-controls 
                        .swiper-button-next
                            .swiper-button-next-arrow
                        .swiper-button-prev
                            .swiper-button-prev-arrow
                        .swiper-pagination
                .shop__block-slider.display-n#indexShopElement-4
                    .swiper.shopSlider-4
                        .swiper-wrapper
                            .swiper-slide 
                                .shop__block-slider-item
                                    .shop__block-slider-img 
                                        img(src="./img/index/shop-1.png", alt="img")
                                    .shop__block-slider-star
                                        <svg width="16" height="13" viewBox="0 0 16 13" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M7.50965 0.452219L5.71136 3.81352L1.68793 4.35428C0.966409 4.45075 0.677251 5.27076 1.20049 5.74043L4.11135 8.35534L3.42288 12.0492C3.29895 12.7169 4.06178 13.217 4.70068 12.9048L8.30002 11.1607L11.8994 12.9048C12.5383 13.2145 13.3011 12.7169 13.1772 12.0492L12.4887 8.35534L15.3995 5.74043C15.9228 5.27076 15.6336 4.45075 14.9121 4.35428L10.8887 3.81352L9.09038 0.452219C8.76818 -0.146926 7.83461 -0.154542 7.50965 0.452219Z" fill="#FF7A00"/>
                                        </svg>
                                        <svg width="16" height="13" viewBox="0 0 16 13" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M7.50965 0.452219L5.71136 3.81352L1.68793 4.35428C0.966409 4.45075 0.677251 5.27076 1.20049 5.74043L4.11135 8.35534L3.42288 12.0492C3.29895 12.7169 4.06178 13.217 4.70068 12.9048L8.30002 11.1607L11.8994 12.9048C12.5383 13.2145 13.3011 12.7169 13.1772 12.0492L12.4887 8.35534L15.3995 5.74043C15.9228 5.27076 15.6336 4.45075 14.9121 4.35428L10.8887 3.81352L9.09038 0.452219C8.76818 -0.146926 7.83461 -0.154542 7.50965 0.452219Z" fill="#FF7A00"/>
                                        </svg>
                                        <svg width="16" height="13" viewBox="0 0 16 13" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M7.50965 0.452219L5.71136 3.81352L1.68793 4.35428C0.966409 4.45075 0.677251 5.27076 1.20049 5.74043L4.11135 8.35534L3.42288 12.0492C3.29895 12.7169 4.06178 13.217 4.70068 12.9048L8.30002 11.1607L11.8994 12.9048C12.5383 13.2145 13.3011 12.7169 13.1772 12.0492L12.4887 8.35534L15.3995 5.74043C15.9228 5.27076 15.6336 4.45075 14.9121 4.35428L10.8887 3.81352L9.09038 0.452219C8.76818 -0.146926 7.83461 -0.154542 7.50965 0.452219Z" fill="#FF7A00"/>
                                        </svg>
                                        <svg width="16" height="13" viewBox="0 0 16 13" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M7.50965 0.452219L5.71136 3.81352L1.68793 4.35428C0.966409 4.45075 0.677251 5.27076 1.20049 5.74043L4.11135 8.35534L3.42288 12.0492C3.29895 12.7169 4.06178 13.217 4.70068 12.9048L8.30002 11.1607L11.8994 12.9048C12.5383 13.2145 13.3011 12.7169 13.1772 12.0492L12.4887 8.35534L15.3995 5.74043C15.9228 5.27076 15.6336 4.45075 14.9121 4.35428L10.8887 3.81352L9.09038 0.452219C8.76818 -0.146926 7.83461 -0.154542 7.50965 0.452219Z" fill="#FF7A00"/>
                                        </svg>
                                    .shop__block-slider-title Успеть до восхода
                                    .shop__block-slider-add Ахун Мансур
                            .swiper-slide 
                                .shop__block-slider-item
                                    .shop__block-slider-img 
                                        img(src="./img/index/shop-2.png", alt="img")
                                    .shop__block-slider-star
                                        <svg width="16" height="13" viewBox="0 0 16 13" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M7.50965 0.452219L5.71136 3.81352L1.68793 4.35428C0.966409 4.45075 0.677251 5.27076 1.20049 5.74043L4.11135 8.35534L3.42288 12.0492C3.29895 12.7169 4.06178 13.217 4.70068 12.9048L8.30002 11.1607L11.8994 12.9048C12.5383 13.2145 13.3011 12.7169 13.1772 12.0492L12.4887 8.35534L15.3995 5.74043C15.9228 5.27076 15.6336 4.45075 14.9121 4.35428L10.8887 3.81352L9.09038 0.452219C8.76818 -0.146926 7.83461 -0.154542 7.50965 0.452219Z" fill="#FF7A00"/>
                                        </svg>
                                        <svg width="16" height="13" viewBox="0 0 16 13" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M7.50965 0.452219L5.71136 3.81352L1.68793 4.35428C0.966409 4.45075 0.677251 5.27076 1.20049 5.74043L4.11135 8.35534L3.42288 12.0492C3.29895 12.7169 4.06178 13.217 4.70068 12.9048L8.30002 11.1607L11.8994 12.9048C12.5383 13.2145 13.3011 12.7169 13.1772 12.0492L12.4887 8.35534L15.3995 5.74043C15.9228 5.27076 15.6336 4.45075 14.9121 4.35428L10.8887 3.81352L9.09038 0.452219C8.76818 -0.146926 7.83461 -0.154542 7.50965 0.452219Z" fill="#FF7A00"/>
                                        </svg>
                                        <svg width="16" height="13" viewBox="0 0 16 13" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M7.50965 0.452219L5.71136 3.81352L1.68793 4.35428C0.966409 4.45075 0.677251 5.27076 1.20049 5.74043L4.11135 8.35534L3.42288 12.0492C3.29895 12.7169 4.06178 13.217 4.70068 12.9048L8.30002 11.1607L11.8994 12.9048C12.5383 13.2145 13.3011 12.7169 13.1772 12.0492L12.4887 8.35534L15.3995 5.74043C15.9228 5.27076 15.6336 4.45075 14.9121 4.35428L10.8887 3.81352L9.09038 0.452219C8.76818 -0.146926 7.83461 -0.154542 7.50965 0.452219Z" fill="#FF7A00"/>
                                        </svg>
                                        <svg width="16" height="13" viewBox="0 0 16 13" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M7.50965 0.452219L5.71136 3.81352L1.68793 4.35428C0.966409 4.45075 0.677251 5.27076 1.20049 5.74043L4.11135 8.35534L3.42288 12.0492C3.29895 12.7169 4.06178 13.217 4.70068 12.9048L8.30002 11.1607L11.8994 12.9048C12.5383 13.2145 13.3011 12.7169 13.1772 12.0492L12.4887 8.35534L15.3995 5.74043C15.9228 5.27076 15.6336 4.45075 14.9121 4.35428L10.8887 3.81352L9.09038 0.452219C8.76818 -0.146926 7.83461 -0.154542 7.50965 0.452219Z" fill="#FF7A00"/>
                                        </svg>
                                    .shop__block-slider-title Успеть до восхода
                                    .shop__block-slider-add Ахун Мансур
                            .swiper-slide 
                                .shop__block-slider-item
                                    .shop__block-slider-img 
                                        img(src="./img/index/shop-3.png", alt="img")
                                    .shop__block-slider-star
                                        <svg width="16" height="13" viewBox="0 0 16 13" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M7.50965 0.452219L5.71136 3.81352L1.68793 4.35428C0.966409 4.45075 0.677251 5.27076 1.20049 5.74043L4.11135 8.35534L3.42288 12.0492C3.29895 12.7169 4.06178 13.217 4.70068 12.9048L8.30002 11.1607L11.8994 12.9048C12.5383 13.2145 13.3011 12.7169 13.1772 12.0492L12.4887 8.35534L15.3995 5.74043C15.9228 5.27076 15.6336 4.45075 14.9121 4.35428L10.8887 3.81352L9.09038 0.452219C8.76818 -0.146926 7.83461 -0.154542 7.50965 0.452219Z" fill="#FF7A00"/>
                                        </svg>
                                        <svg width="16" height="13" viewBox="0 0 16 13" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M7.50965 0.452219L5.71136 3.81352L1.68793 4.35428C0.966409 4.45075 0.677251 5.27076 1.20049 5.74043L4.11135 8.35534L3.42288 12.0492C3.29895 12.7169 4.06178 13.217 4.70068 12.9048L8.30002 11.1607L11.8994 12.9048C12.5383 13.2145 13.3011 12.7169 13.1772 12.0492L12.4887 8.35534L15.3995 5.74043C15.9228 5.27076 15.6336 4.45075 14.9121 4.35428L10.8887 3.81352L9.09038 0.452219C8.76818 -0.146926 7.83461 -0.154542 7.50965 0.452219Z" fill="#FF7A00"/>
                                        </svg>
                                        <svg width="16" height="13" viewBox="0 0 16 13" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M7.50965 0.452219L5.71136 3.81352L1.68793 4.35428C0.966409 4.45075 0.677251 5.27076 1.20049 5.74043L4.11135 8.35534L3.42288 12.0492C3.29895 12.7169 4.06178 13.217 4.70068 12.9048L8.30002 11.1607L11.8994 12.9048C12.5383 13.2145 13.3011 12.7169 13.1772 12.0492L12.4887 8.35534L15.3995 5.74043C15.9228 5.27076 15.6336 4.45075 14.9121 4.35428L10.8887 3.81352L9.09038 0.452219C8.76818 -0.146926 7.83461 -0.154542 7.50965 0.452219Z" fill="#FF7A00"/>
                                        </svg>
                                        <svg width="16" height="13" viewBox="0 0 16 13" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M7.50965 0.452219L5.71136 3.81352L1.68793 4.35428C0.966409 4.45075 0.677251 5.27076 1.20049 5.74043L4.11135 8.35534L3.42288 12.0492C3.29895 12.7169 4.06178 13.217 4.70068 12.9048L8.30002 11.1607L11.8994 12.9048C12.5383 13.2145 13.3011 12.7169 13.1772 12.0492L12.4887 8.35534L15.3995 5.74043C15.9228 5.27076 15.6336 4.45075 14.9121 4.35428L10.8887 3.81352L9.09038 0.452219C8.76818 -0.146926 7.83461 -0.154542 7.50965 0.452219Z" fill="#FF7A00"/>
                                        </svg>
                                    .shop__block-slider-title Успеть до восхода
                                    .shop__block-slider-add Ахун Мансур
                            .swiper-slide 
                                .shop__block-slider-item
                                    .shop__block-slider-img 
                                        img(src="./img/index/shop-4.png", alt="img")
                                    .shop__block-slider-star
                                        <svg width="16" height="13" viewBox="0 0 16 13" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M7.50965 0.452219L5.71136 3.81352L1.68793 4.35428C0.966409 4.45075 0.677251 5.27076 1.20049 5.74043L4.11135 8.35534L3.42288 12.0492C3.29895 12.7169 4.06178 13.217 4.70068 12.9048L8.30002 11.1607L11.8994 12.9048C12.5383 13.2145 13.3011 12.7169 13.1772 12.0492L12.4887 8.35534L15.3995 5.74043C15.9228 5.27076 15.6336 4.45075 14.9121 4.35428L10.8887 3.81352L9.09038 0.452219C8.76818 -0.146926 7.83461 -0.154542 7.50965 0.452219Z" fill="#FF7A00"/>
                                        </svg>
                                        <svg width="16" height="13" viewBox="0 0 16 13" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M7.50965 0.452219L5.71136 3.81352L1.68793 4.35428C0.966409 4.45075 0.677251 5.27076 1.20049 5.74043L4.11135 8.35534L3.42288 12.0492C3.29895 12.7169 4.06178 13.217 4.70068 12.9048L8.30002 11.1607L11.8994 12.9048C12.5383 13.2145 13.3011 12.7169 13.1772 12.0492L12.4887 8.35534L15.3995 5.74043C15.9228 5.27076 15.6336 4.45075 14.9121 4.35428L10.8887 3.81352L9.09038 0.452219C8.76818 -0.146926 7.83461 -0.154542 7.50965 0.452219Z" fill="#FF7A00"/>
                                        </svg>
                                        <svg width="16" height="13" viewBox="0 0 16 13" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M7.50965 0.452219L5.71136 3.81352L1.68793 4.35428C0.966409 4.45075 0.677251 5.27076 1.20049 5.74043L4.11135 8.35534L3.42288 12.0492C3.29895 12.7169 4.06178 13.217 4.70068 12.9048L8.30002 11.1607L11.8994 12.9048C12.5383 13.2145 13.3011 12.7169 13.1772 12.0492L12.4887 8.35534L15.3995 5.74043C15.9228 5.27076 15.6336 4.45075 14.9121 4.35428L10.8887 3.81352L9.09038 0.452219C8.76818 -0.146926 7.83461 -0.154542 7.50965 0.452219Z" fill="#FF7A00"/>
                                        </svg>
                                        <svg width="16" height="13" viewBox="0 0 16 13" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M7.50965 0.452219L5.71136 3.81352L1.68793 4.35428C0.966409 4.45075 0.677251 5.27076 1.20049 5.74043L4.11135 8.35534L3.42288 12.0492C3.29895 12.7169 4.06178 13.217 4.70068 12.9048L8.30002 11.1607L11.8994 12.9048C12.5383 13.2145 13.3011 12.7169 13.1772 12.0492L12.4887 8.35534L15.3995 5.74043C15.9228 5.27076 15.6336 4.45075 14.9121 4.35428L10.8887 3.81352L9.09038 0.452219C8.76818 -0.146926 7.83461 -0.154542 7.50965 0.452219Z" fill="#FF7A00"/>
                                        </svg>
                                    .shop__block-slider-title Успеть до восхода
                                    .shop__block-slider-add Ахун Мансур
                            .swiper-slide 
                                .shop__block-slider-item
                                    .shop__block-slider-img 
                                        img(src="./img/index/shop-5.png", alt="img")
                                    .shop__block-slider-star
                                        <svg width="16" height="13" viewBox="0 0 16 13" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M7.50965 0.452219L5.71136 3.81352L1.68793 4.35428C0.966409 4.45075 0.677251 5.27076 1.20049 5.74043L4.11135 8.35534L3.42288 12.0492C3.29895 12.7169 4.06178 13.217 4.70068 12.9048L8.30002 11.1607L11.8994 12.9048C12.5383 13.2145 13.3011 12.7169 13.1772 12.0492L12.4887 8.35534L15.3995 5.74043C15.9228 5.27076 15.6336 4.45075 14.9121 4.35428L10.8887 3.81352L9.09038 0.452219C8.76818 -0.146926 7.83461 -0.154542 7.50965 0.452219Z" fill="#FF7A00"/>
                                        </svg>
                                        <svg width="16" height="13" viewBox="0 0 16 13" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M7.50965 0.452219L5.71136 3.81352L1.68793 4.35428C0.966409 4.45075 0.677251 5.27076 1.20049 5.74043L4.11135 8.35534L3.42288 12.0492C3.29895 12.7169 4.06178 13.217 4.70068 12.9048L8.30002 11.1607L11.8994 12.9048C12.5383 13.2145 13.3011 12.7169 13.1772 12.0492L12.4887 8.35534L15.3995 5.74043C15.9228 5.27076 15.6336 4.45075 14.9121 4.35428L10.8887 3.81352L9.09038 0.452219C8.76818 -0.146926 7.83461 -0.154542 7.50965 0.452219Z" fill="#FF7A00"/>
                                        </svg>
                                        <svg width="16" height="13" viewBox="0 0 16 13" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M7.50965 0.452219L5.71136 3.81352L1.68793 4.35428C0.966409 4.45075 0.677251 5.27076 1.20049 5.74043L4.11135 8.35534L3.42288 12.0492C3.29895 12.7169 4.06178 13.217 4.70068 12.9048L8.30002 11.1607L11.8994 12.9048C12.5383 13.2145 13.3011 12.7169 13.1772 12.0492L12.4887 8.35534L15.3995 5.74043C15.9228 5.27076 15.6336 4.45075 14.9121 4.35428L10.8887 3.81352L9.09038 0.452219C8.76818 -0.146926 7.83461 -0.154542 7.50965 0.452219Z" fill="#FF7A00"/>
                                        </svg>
                                        <svg width="16" height="13" viewBox="0 0 16 13" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M7.50965 0.452219L5.71136 3.81352L1.68793 4.35428C0.966409 4.45075 0.677251 5.27076 1.20049 5.74043L4.11135 8.35534L3.42288 12.0492C3.29895 12.7169 4.06178 13.217 4.70068 12.9048L8.30002 11.1607L11.8994 12.9048C12.5383 13.2145 13.3011 12.7169 13.1772 12.0492L12.4887 8.35534L15.3995 5.74043C15.9228 5.27076 15.6336 4.45075 14.9121 4.35428L10.8887 3.81352L9.09038 0.452219C8.76818 -0.146926 7.83461 -0.154542 7.50965 0.452219Z" fill="#FF7A00"/>
                                        </svg>
                                    .shop__block-slider-title Успеть до восхода
                                    .shop__block-slider-add Ахун Мансур
                            .swiper-slide 
                                .shop__block-slider-item
                                    .shop__block-slider-img 
                                        img(src="./img/index/shop-1.png", alt="img")
                                    .shop__block-slider-star
                                        <svg width="16" height="13" viewBox="0 0 16 13" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M7.50965 0.452219L5.71136 3.81352L1.68793 4.35428C0.966409 4.45075 0.677251 5.27076 1.20049 5.74043L4.11135 8.35534L3.42288 12.0492C3.29895 12.7169 4.06178 13.217 4.70068 12.9048L8.30002 11.1607L11.8994 12.9048C12.5383 13.2145 13.3011 12.7169 13.1772 12.0492L12.4887 8.35534L15.3995 5.74043C15.9228 5.27076 15.6336 4.45075 14.9121 4.35428L10.8887 3.81352L9.09038 0.452219C8.76818 -0.146926 7.83461 -0.154542 7.50965 0.452219Z" fill="#FF7A00"/>
                                        </svg>
                                        <svg width="16" height="13" viewBox="0 0 16 13" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M7.50965 0.452219L5.71136 3.81352L1.68793 4.35428C0.966409 4.45075 0.677251 5.27076 1.20049 5.74043L4.11135 8.35534L3.42288 12.0492C3.29895 12.7169 4.06178 13.217 4.70068 12.9048L8.30002 11.1607L11.8994 12.9048C12.5383 13.2145 13.3011 12.7169 13.1772 12.0492L12.4887 8.35534L15.3995 5.74043C15.9228 5.27076 15.6336 4.45075 14.9121 4.35428L10.8887 3.81352L9.09038 0.452219C8.76818 -0.146926 7.83461 -0.154542 7.50965 0.452219Z" fill="#FF7A00"/>
                                        </svg>
                                        <svg width="16" height="13" viewBox="0 0 16 13" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M7.50965 0.452219L5.71136 3.81352L1.68793 4.35428C0.966409 4.45075 0.677251 5.27076 1.20049 5.74043L4.11135 8.35534L3.42288 12.0492C3.29895 12.7169 4.06178 13.217 4.70068 12.9048L8.30002 11.1607L11.8994 12.9048C12.5383 13.2145 13.3011 12.7169 13.1772 12.0492L12.4887 8.35534L15.3995 5.74043C15.9228 5.27076 15.6336 4.45075 14.9121 4.35428L10.8887 3.81352L9.09038 0.452219C8.76818 -0.146926 7.83461 -0.154542 7.50965 0.452219Z" fill="#FF7A00"/>
                                        </svg>
                                        <svg width="16" height="13" viewBox="0 0 16 13" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M7.50965 0.452219L5.71136 3.81352L1.68793 4.35428C0.966409 4.45075 0.677251 5.27076 1.20049 5.74043L4.11135 8.35534L3.42288 12.0492C3.29895 12.7169 4.06178 13.217 4.70068 12.9048L8.30002 11.1607L11.8994 12.9048C12.5383 13.2145 13.3011 12.7169 13.1772 12.0492L12.4887 8.35534L15.3995 5.74043C15.9228 5.27076 15.6336 4.45075 14.9121 4.35428L10.8887 3.81352L9.09038 0.452219C8.76818 -0.146926 7.83461 -0.154542 7.50965 0.452219Z" fill="#FF7A00"/>
                                        </svg>
                                    .shop__block-slider-title Успеть до восхода
                                    .shop__block-slider-add Ахун Мансур
                    .swiper-controls 
                        .swiper-button-next
                            .swiper-button-next-arrow
                        .swiper-button-prev
                            .swiper-button-prev-arrow
                        .swiper-pagination
                .shop__block-slider.display-n#indexShopElement-5
                    .swiper.shopSlider-5
                        .swiper-wrapper
                            .swiper-slide 
                                .shop__block-slider-item
                                    .shop__block-slider-img 
                                        img(src="./img/index/shop-1.png", alt="img")
                                    .shop__block-slider-star
                                        <svg width="16" height="13" viewBox="0 0 16 13" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M7.50965 0.452219L5.71136 3.81352L1.68793 4.35428C0.966409 4.45075 0.677251 5.27076 1.20049 5.74043L4.11135 8.35534L3.42288 12.0492C3.29895 12.7169 4.06178 13.217 4.70068 12.9048L8.30002 11.1607L11.8994 12.9048C12.5383 13.2145 13.3011 12.7169 13.1772 12.0492L12.4887 8.35534L15.3995 5.74043C15.9228 5.27076 15.6336 4.45075 14.9121 4.35428L10.8887 3.81352L9.09038 0.452219C8.76818 -0.146926 7.83461 -0.154542 7.50965 0.452219Z" fill="#FF7A00"/>
                                        </svg>
                                        <svg width="16" height="13" viewBox="0 0 16 13" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M7.50965 0.452219L5.71136 3.81352L1.68793 4.35428C0.966409 4.45075 0.677251 5.27076 1.20049 5.74043L4.11135 8.35534L3.42288 12.0492C3.29895 12.7169 4.06178 13.217 4.70068 12.9048L8.30002 11.1607L11.8994 12.9048C12.5383 13.2145 13.3011 12.7169 13.1772 12.0492L12.4887 8.35534L15.3995 5.74043C15.9228 5.27076 15.6336 4.45075 14.9121 4.35428L10.8887 3.81352L9.09038 0.452219C8.76818 -0.146926 7.83461 -0.154542 7.50965 0.452219Z" fill="#FF7A00"/>
                                        </svg>
                                        <svg width="16" height="13" viewBox="0 0 16 13" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M7.50965 0.452219L5.71136 3.81352L1.68793 4.35428C0.966409 4.45075 0.677251 5.27076 1.20049 5.74043L4.11135 8.35534L3.42288 12.0492C3.29895 12.7169 4.06178 13.217 4.70068 12.9048L8.30002 11.1607L11.8994 12.9048C12.5383 13.2145 13.3011 12.7169 13.1772 12.0492L12.4887 8.35534L15.3995 5.74043C15.9228 5.27076 15.6336 4.45075 14.9121 4.35428L10.8887 3.81352L9.09038 0.452219C8.76818 -0.146926 7.83461 -0.154542 7.50965 0.452219Z" fill="#FF7A00"/>
                                        </svg>
                                        <svg width="16" height="13" viewBox="0 0 16 13" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M7.50965 0.452219L5.71136 3.81352L1.68793 4.35428C0.966409 4.45075 0.677251 5.27076 1.20049 5.74043L4.11135 8.35534L3.42288 12.0492C3.29895 12.7169 4.06178 13.217 4.70068 12.9048L8.30002 11.1607L11.8994 12.9048C12.5383 13.2145 13.3011 12.7169 13.1772 12.0492L12.4887 8.35534L15.3995 5.74043C15.9228 5.27076 15.6336 4.45075 14.9121 4.35428L10.8887 3.81352L9.09038 0.452219C8.76818 -0.146926 7.83461 -0.154542 7.50965 0.452219Z" fill="#FF7A00"/>
                                        </svg>
                                    .shop__block-slider-title Успеть до восхода
                                    .shop__block-slider-add Ахун Мансур
                            .swiper-slide 
                                .shop__block-slider-item
                                    .shop__block-slider-img 
                                        img(src="./img/index/shop-2.png", alt="img")
                                    .shop__block-slider-star
                                        <svg width="16" height="13" viewBox="0 0 16 13" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M7.50965 0.452219L5.71136 3.81352L1.68793 4.35428C0.966409 4.45075 0.677251 5.27076 1.20049 5.74043L4.11135 8.35534L3.42288 12.0492C3.29895 12.7169 4.06178 13.217 4.70068 12.9048L8.30002 11.1607L11.8994 12.9048C12.5383 13.2145 13.3011 12.7169 13.1772 12.0492L12.4887 8.35534L15.3995 5.74043C15.9228 5.27076 15.6336 4.45075 14.9121 4.35428L10.8887 3.81352L9.09038 0.452219C8.76818 -0.146926 7.83461 -0.154542 7.50965 0.452219Z" fill="#FF7A00"/>
                                        </svg>
                                        <svg width="16" height="13" viewBox="0 0 16 13" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M7.50965 0.452219L5.71136 3.81352L1.68793 4.35428C0.966409 4.45075 0.677251 5.27076 1.20049 5.74043L4.11135 8.35534L3.42288 12.0492C3.29895 12.7169 4.06178 13.217 4.70068 12.9048L8.30002 11.1607L11.8994 12.9048C12.5383 13.2145 13.3011 12.7169 13.1772 12.0492L12.4887 8.35534L15.3995 5.74043C15.9228 5.27076 15.6336 4.45075 14.9121 4.35428L10.8887 3.81352L9.09038 0.452219C8.76818 -0.146926 7.83461 -0.154542 7.50965 0.452219Z" fill="#FF7A00"/>
                                        </svg>
                                        <svg width="16" height="13" viewBox="0 0 16 13" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M7.50965 0.452219L5.71136 3.81352L1.68793 4.35428C0.966409 4.45075 0.677251 5.27076 1.20049 5.74043L4.11135 8.35534L3.42288 12.0492C3.29895 12.7169 4.06178 13.217 4.70068 12.9048L8.30002 11.1607L11.8994 12.9048C12.5383 13.2145 13.3011 12.7169 13.1772 12.0492L12.4887 8.35534L15.3995 5.74043C15.9228 5.27076 15.6336 4.45075 14.9121 4.35428L10.8887 3.81352L9.09038 0.452219C8.76818 -0.146926 7.83461 -0.154542 7.50965 0.452219Z" fill="#FF7A00"/>
                                        </svg>
                                        <svg width="16" height="13" viewBox="0 0 16 13" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M7.50965 0.452219L5.71136 3.81352L1.68793 4.35428C0.966409 4.45075 0.677251 5.27076 1.20049 5.74043L4.11135 8.35534L3.42288 12.0492C3.29895 12.7169 4.06178 13.217 4.70068 12.9048L8.30002 11.1607L11.8994 12.9048C12.5383 13.2145 13.3011 12.7169 13.1772 12.0492L12.4887 8.35534L15.3995 5.74043C15.9228 5.27076 15.6336 4.45075 14.9121 4.35428L10.8887 3.81352L9.09038 0.452219C8.76818 -0.146926 7.83461 -0.154542 7.50965 0.452219Z" fill="#FF7A00"/>
                                        </svg>
                                    .shop__block-slider-title Успеть до восхода
                                    .shop__block-slider-add Ахун Мансур
                            .swiper-slide 
                                .shop__block-slider-item
                                    .shop__block-slider-img 
                                        img(src="./img/index/shop-3.png", alt="img")
                                    .shop__block-slider-star
                                        <svg width="16" height="13" viewBox="0 0 16 13" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M7.50965 0.452219L5.71136 3.81352L1.68793 4.35428C0.966409 4.45075 0.677251 5.27076 1.20049 5.74043L4.11135 8.35534L3.42288 12.0492C3.29895 12.7169 4.06178 13.217 4.70068 12.9048L8.30002 11.1607L11.8994 12.9048C12.5383 13.2145 13.3011 12.7169 13.1772 12.0492L12.4887 8.35534L15.3995 5.74043C15.9228 5.27076 15.6336 4.45075 14.9121 4.35428L10.8887 3.81352L9.09038 0.452219C8.76818 -0.146926 7.83461 -0.154542 7.50965 0.452219Z" fill="#FF7A00"/>
                                        </svg>
                                        <svg width="16" height="13" viewBox="0 0 16 13" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M7.50965 0.452219L5.71136 3.81352L1.68793 4.35428C0.966409 4.45075 0.677251 5.27076 1.20049 5.74043L4.11135 8.35534L3.42288 12.0492C3.29895 12.7169 4.06178 13.217 4.70068 12.9048L8.30002 11.1607L11.8994 12.9048C12.5383 13.2145 13.3011 12.7169 13.1772 12.0492L12.4887 8.35534L15.3995 5.74043C15.9228 5.27076 15.6336 4.45075 14.9121 4.35428L10.8887 3.81352L9.09038 0.452219C8.76818 -0.146926 7.83461 -0.154542 7.50965 0.452219Z" fill="#FF7A00"/>
                                        </svg>
                                        <svg width="16" height="13" viewBox="0 0 16 13" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M7.50965 0.452219L5.71136 3.81352L1.68793 4.35428C0.966409 4.45075 0.677251 5.27076 1.20049 5.74043L4.11135 8.35534L3.42288 12.0492C3.29895 12.7169 4.06178 13.217 4.70068 12.9048L8.30002 11.1607L11.8994 12.9048C12.5383 13.2145 13.3011 12.7169 13.1772 12.0492L12.4887 8.35534L15.3995 5.74043C15.9228 5.27076 15.6336 4.45075 14.9121 4.35428L10.8887 3.81352L9.09038 0.452219C8.76818 -0.146926 7.83461 -0.154542 7.50965 0.452219Z" fill="#FF7A00"/>
                                        </svg>
                                        <svg width="16" height="13" viewBox="0 0 16 13" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M7.50965 0.452219L5.71136 3.81352L1.68793 4.35428C0.966409 4.45075 0.677251 5.27076 1.20049 5.74043L4.11135 8.35534L3.42288 12.0492C3.29895 12.7169 4.06178 13.217 4.70068 12.9048L8.30002 11.1607L11.8994 12.9048C12.5383 13.2145 13.3011 12.7169 13.1772 12.0492L12.4887 8.35534L15.3995 5.74043C15.9228 5.27076 15.6336 4.45075 14.9121 4.35428L10.8887 3.81352L9.09038 0.452219C8.76818 -0.146926 7.83461 -0.154542 7.50965 0.452219Z" fill="#FF7A00"/>
                                        </svg>
                                    .shop__block-slider-title Успеть до восхода
                                    .shop__block-slider-add Ахун Мансур
                            .swiper-slide 
                                .shop__block-slider-item
                                    .shop__block-slider-img 
                                        img(src="./img/index/shop-4.png", alt="img")
                                    .shop__block-slider-star
                                        <svg width="16" height="13" viewBox="0 0 16 13" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M7.50965 0.452219L5.71136 3.81352L1.68793 4.35428C0.966409 4.45075 0.677251 5.27076 1.20049 5.74043L4.11135 8.35534L3.42288 12.0492C3.29895 12.7169 4.06178 13.217 4.70068 12.9048L8.30002 11.1607L11.8994 12.9048C12.5383 13.2145 13.3011 12.7169 13.1772 12.0492L12.4887 8.35534L15.3995 5.74043C15.9228 5.27076 15.6336 4.45075 14.9121 4.35428L10.8887 3.81352L9.09038 0.452219C8.76818 -0.146926 7.83461 -0.154542 7.50965 0.452219Z" fill="#FF7A00"/>
                                        </svg>
                                        <svg width="16" height="13" viewBox="0 0 16 13" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M7.50965 0.452219L5.71136 3.81352L1.68793 4.35428C0.966409 4.45075 0.677251 5.27076 1.20049 5.74043L4.11135 8.35534L3.42288 12.0492C3.29895 12.7169 4.06178 13.217 4.70068 12.9048L8.30002 11.1607L11.8994 12.9048C12.5383 13.2145 13.3011 12.7169 13.1772 12.0492L12.4887 8.35534L15.3995 5.74043C15.9228 5.27076 15.6336 4.45075 14.9121 4.35428L10.8887 3.81352L9.09038 0.452219C8.76818 -0.146926 7.83461 -0.154542 7.50965 0.452219Z" fill="#FF7A00"/>
                                        </svg>
                                        <svg width="16" height="13" viewBox="0 0 16 13" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M7.50965 0.452219L5.71136 3.81352L1.68793 4.35428C0.966409 4.45075 0.677251 5.27076 1.20049 5.74043L4.11135 8.35534L3.42288 12.0492C3.29895 12.7169 4.06178 13.217 4.70068 12.9048L8.30002 11.1607L11.8994 12.9048C12.5383 13.2145 13.3011 12.7169 13.1772 12.0492L12.4887 8.35534L15.3995 5.74043C15.9228 5.27076 15.6336 4.45075 14.9121 4.35428L10.8887 3.81352L9.09038 0.452219C8.76818 -0.146926 7.83461 -0.154542 7.50965 0.452219Z" fill="#FF7A00"/>
                                        </svg>
                                        <svg width="16" height="13" viewBox="0 0 16 13" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M7.50965 0.452219L5.71136 3.81352L1.68793 4.35428C0.966409 4.45075 0.677251 5.27076 1.20049 5.74043L4.11135 8.35534L3.42288 12.0492C3.29895 12.7169 4.06178 13.217 4.70068 12.9048L8.30002 11.1607L11.8994 12.9048C12.5383 13.2145 13.3011 12.7169 13.1772 12.0492L12.4887 8.35534L15.3995 5.74043C15.9228 5.27076 15.6336 4.45075 14.9121 4.35428L10.8887 3.81352L9.09038 0.452219C8.76818 -0.146926 7.83461 -0.154542 7.50965 0.452219Z" fill="#FF7A00"/>
                                        </svg>
                                    .shop__block-slider-title Успеть до восхода
                                    .shop__block-slider-add Ахун Мансур
                            .swiper-slide 
                                .shop__block-slider-item
                                    .shop__block-slider-img 
                                        img(src="./img/index/shop-5.png", alt="img")
                                    .shop__block-slider-star
                                        <svg width="16" height="13" viewBox="0 0 16 13" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M7.50965 0.452219L5.71136 3.81352L1.68793 4.35428C0.966409 4.45075 0.677251 5.27076 1.20049 5.74043L4.11135 8.35534L3.42288 12.0492C3.29895 12.7169 4.06178 13.217 4.70068 12.9048L8.30002 11.1607L11.8994 12.9048C12.5383 13.2145 13.3011 12.7169 13.1772 12.0492L12.4887 8.35534L15.3995 5.74043C15.9228 5.27076 15.6336 4.45075 14.9121 4.35428L10.8887 3.81352L9.09038 0.452219C8.76818 -0.146926 7.83461 -0.154542 7.50965 0.452219Z" fill="#FF7A00"/>
                                        </svg>
                                        <svg width="16" height="13" viewBox="0 0 16 13" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M7.50965 0.452219L5.71136 3.81352L1.68793 4.35428C0.966409 4.45075 0.677251 5.27076 1.20049 5.74043L4.11135 8.35534L3.42288 12.0492C3.29895 12.7169 4.06178 13.217 4.70068 12.9048L8.30002 11.1607L11.8994 12.9048C12.5383 13.2145 13.3011 12.7169 13.1772 12.0492L12.4887 8.35534L15.3995 5.74043C15.9228 5.27076 15.6336 4.45075 14.9121 4.35428L10.8887 3.81352L9.09038 0.452219C8.76818 -0.146926 7.83461 -0.154542 7.50965 0.452219Z" fill="#FF7A00"/>
                                        </svg>
                                        <svg width="16" height="13" viewBox="0 0 16 13" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M7.50965 0.452219L5.71136 3.81352L1.68793 4.35428C0.966409 4.45075 0.677251 5.27076 1.20049 5.74043L4.11135 8.35534L3.42288 12.0492C3.29895 12.7169 4.06178 13.217 4.70068 12.9048L8.30002 11.1607L11.8994 12.9048C12.5383 13.2145 13.3011 12.7169 13.1772 12.0492L12.4887 8.35534L15.3995 5.74043C15.9228 5.27076 15.6336 4.45075 14.9121 4.35428L10.8887 3.81352L9.09038 0.452219C8.76818 -0.146926 7.83461 -0.154542 7.50965 0.452219Z" fill="#FF7A00"/>
                                        </svg>
                                        <svg width="16" height="13" viewBox="0 0 16 13" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M7.50965 0.452219L5.71136 3.81352L1.68793 4.35428C0.966409 4.45075 0.677251 5.27076 1.20049 5.74043L4.11135 8.35534L3.42288 12.0492C3.29895 12.7169 4.06178 13.217 4.70068 12.9048L8.30002 11.1607L11.8994 12.9048C12.5383 13.2145 13.3011 12.7169 13.1772 12.0492L12.4887 8.35534L15.3995 5.74043C15.9228 5.27076 15.6336 4.45075 14.9121 4.35428L10.8887 3.81352L9.09038 0.452219C8.76818 -0.146926 7.83461 -0.154542 7.50965 0.452219Z" fill="#FF7A00"/>
                                        </svg>
                                    .shop__block-slider-title Успеть до восхода
                                    .shop__block-slider-add Ахун Мансур
                            .swiper-slide 
                                .shop__block-slider-item
                                    .shop__block-slider-img 
                                        img(src="./img/index/shop-1.png", alt="img")
                                    .shop__block-slider-star
                                        <svg width="16" height="13" viewBox="0 0 16 13" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M7.50965 0.452219L5.71136 3.81352L1.68793 4.35428C0.966409 4.45075 0.677251 5.27076 1.20049 5.74043L4.11135 8.35534L3.42288 12.0492C3.29895 12.7169 4.06178 13.217 4.70068 12.9048L8.30002 11.1607L11.8994 12.9048C12.5383 13.2145 13.3011 12.7169 13.1772 12.0492L12.4887 8.35534L15.3995 5.74043C15.9228 5.27076 15.6336 4.45075 14.9121 4.35428L10.8887 3.81352L9.09038 0.452219C8.76818 -0.146926 7.83461 -0.154542 7.50965 0.452219Z" fill="#FF7A00"/>
                                        </svg>
                                        <svg width="16" height="13" viewBox="0 0 16 13" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M7.50965 0.452219L5.71136 3.81352L1.68793 4.35428C0.966409 4.45075 0.677251 5.27076 1.20049 5.74043L4.11135 8.35534L3.42288 12.0492C3.29895 12.7169 4.06178 13.217 4.70068 12.9048L8.30002 11.1607L11.8994 12.9048C12.5383 13.2145 13.3011 12.7169 13.1772 12.0492L12.4887 8.35534L15.3995 5.74043C15.9228 5.27076 15.6336 4.45075 14.9121 4.35428L10.8887 3.81352L9.09038 0.452219C8.76818 -0.146926 7.83461 -0.154542 7.50965 0.452219Z" fill="#FF7A00"/>
                                        </svg>
                                        <svg width="16" height="13" viewBox="0 0 16 13" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M7.50965 0.452219L5.71136 3.81352L1.68793 4.35428C0.966409 4.45075 0.677251 5.27076 1.20049 5.74043L4.11135 8.35534L3.42288 12.0492C3.29895 12.7169 4.06178 13.217 4.70068 12.9048L8.30002 11.1607L11.8994 12.9048C12.5383 13.2145 13.3011 12.7169 13.1772 12.0492L12.4887 8.35534L15.3995 5.74043C15.9228 5.27076 15.6336 4.45075 14.9121 4.35428L10.8887 3.81352L9.09038 0.452219C8.76818 -0.146926 7.83461 -0.154542 7.50965 0.452219Z" fill="#FF7A00"/>
                                        </svg>
                                        <svg width="16" height="13" viewBox="0 0 16 13" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M7.50965 0.452219L5.71136 3.81352L1.68793 4.35428C0.966409 4.45075 0.677251 5.27076 1.20049 5.74043L4.11135 8.35534L3.42288 12.0492C3.29895 12.7169 4.06178 13.217 4.70068 12.9048L8.30002 11.1607L11.8994 12.9048C12.5383 13.2145 13.3011 12.7169 13.1772 12.0492L12.4887 8.35534L15.3995 5.74043C15.9228 5.27076 15.6336 4.45075 14.9121 4.35428L10.8887 3.81352L9.09038 0.452219C8.76818 -0.146926 7.83461 -0.154542 7.50965 0.452219Z" fill="#FF7A00"/>
                                        </svg>
                                    .shop__block-slider-title Успеть до восхода
                                    .shop__block-slider-add Ахун Мансур
                    .swiper-controls 
                        .swiper-button-next
                            .swiper-button-next-arrow
                        .swiper-button-prev
                            .swiper-button-prev-arrow
                        .swiper-pagination
                