section.video
        .video__title Видео
        .video__slider 
            .swiper.videoSlider
                .swiper-wrapper
                    .swiper-slide
                        .video__slider-item 
                            iframe(width="100%" height="100%" src="https://www.youtube.com/embed/_uTHi3EXauw" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen)
                    .swiper-slide
                        .video__slider-item 
                            iframe(width="100%" height="100%" src="https://www.youtube.com/embed/_uTHi3EXauw" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen)
                    .swiper-slide
                        .video__slider-item 
                            iframe(width="100%" height="100%" src="https://www.youtube.com/embed/_uTHi3EXauw" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen)
            .swiper-controls    
                .swiper-button-next
                    .swiper-button-next-arrow
                .swiper-button-prev
                    .swiper-button-prev-arrow
                //- .swiper-pagination

