@@include('components/_head.pug', {
    'title': 'Добавить рецензию'
})

    @@include('components/_header.pug')

    section.basket-content 
        .containers 
            .basket-content__title Корзина
            .basket-content__block 
                .basket-content__block-name 
                    .basket-content__block-name-title Наименование
                    .basket-content__block-name-count Количество
                    .basket-content__block-name-price Цена
                ul.basket-content__block-list 
                    li.basket-content__block-items 
                        .basket-content__block-items-info 
                            .basket-content__block-items-info-photo 
                            .basket-content__block-items-text
                                .basket-content__block-items-text-type ISBN 51251123151
                                .basket-content__block-items-text-title История Чингиз-хан
                                .basket-content__block-items-text-description Ахун Мансур
                        .basket-content__block-items-count 
                            .basket-content__block-items-count-minus 
                                <svg width="19" height="5" viewBox="0 0 19 5" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M0 1.19629C0 0.644003 0.447715 0.196289 1 0.196289H17.3722C17.9245 0.196289 18.3722 0.644004 18.3722 1.19629V3.06412C18.3722 3.61641 17.9245 4.06412 17.3722 4.06412H1C0.447716 4.06412 0 3.61641 0 3.06412V1.19629Z" fill="#D65E54"/>
                                </svg>
                            .basket-content__block-items-count-sum 1
                            .basket-content__block-items-count-plus 
                                <svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M9.88778 0.196289C10.4401 0.196289 10.8878 0.644004 10.8878 1.19629V6.33244C10.8878 6.88473 11.3355 7.33244 11.8878 7.33244H16.6584C17.2107 7.33244 17.6584 7.78016 17.6584 8.33244V9.5176C17.6584 10.0699 17.2107 10.5176 16.6584 10.5176H11.8878C11.3355 10.5176 10.8878 10.9653 10.8878 11.5176V16.6886C10.8878 17.2408 10.4401 17.6886 9.88778 17.6886H8.40673C7.85444 17.6886 7.40673 17.2408 7.40673 16.6886V11.5176C7.40673 10.9653 6.95901 10.5176 6.40673 10.5176H1.6709C1.11861 10.5176 0.670898 10.0699 0.670898 9.5176V8.33244C0.670898 7.78016 1.11861 7.33244 1.6709 7.33244H6.40673C6.95901 7.33244 7.40673 6.88473 7.40673 6.33244V1.19629C7.40673 0.644004 7.85444 0.196289 8.40673 0.196289H9.88778Z" fill="#D65E54"/>
                                </svg>
                        .basket-content__block-items-price ₽ 6 800
                        .basket-content__block-items-icons 
                            <svg width="18" height="23" viewBox="0 0 18 23" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M17.1059 2.06102H12.4438L12.0786 1.28405C12.0012 1.11795 11.882 0.978221 11.7345 0.880596C11.5869 0.782971 11.4168 0.73132 11.2433 0.731453H6.80261C6.62948 0.730741 6.45967 0.7822 6.31262 0.879933C6.16558 0.977667 6.04725 1.11772 5.9712 1.28405L5.606 2.06102H0.943882C0.779019 2.06102 0.620908 2.13106 0.504333 2.25573C0.387757 2.3804 0.322266 2.54949 0.322266 2.7258L0.322266 4.05537C0.322266 4.23168 0.387757 4.40077 0.504333 4.52544C0.620908 4.65011 0.779019 4.72015 0.943882 4.72015H17.1059C17.2708 4.72015 17.4289 4.65011 17.5454 4.52544C17.662 4.40077 17.7275 4.23168 17.7275 4.05537V2.7258C17.7275 2.54949 17.662 2.3804 17.5454 2.25573C17.4289 2.13106 17.2708 2.06102 17.1059 2.06102ZM2.38914 20.1348C2.41879 20.6411 2.62775 21.1164 2.97348 21.4637C3.31921 21.8111 3.77573 22.0045 4.2501 22.0045H13.7997C14.274 22.0045 14.7306 21.8111 15.0763 21.4637C15.422 21.1164 15.631 20.6411 15.6606 20.1348L16.4843 6.04972H1.5655L2.38914 20.1348Z" fill="#A4A4A4"/>
                            </svg>
                    li.basket-content__block-items 
                        .basket-content__block-items-info 
                            .basket-content__block-items-info-photo 
                            .basket-content__block-items-text
                                .basket-content__block-items-text-type ISBN 51251123151
                                .basket-content__block-items-text-title История Чингиз-хан
                                .basket-content__block-items-text-description Ахун Мансур
                        .basket-content__block-items-count 
                            .basket-content__block-items-count-minus 
                                <svg width="19" height="5" viewBox="0 0 19 5" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M0 1.19629C0 0.644003 0.447715 0.196289 1 0.196289H17.3722C17.9245 0.196289 18.3722 0.644004 18.3722 1.19629V3.06412C18.3722 3.61641 17.9245 4.06412 17.3722 4.06412H1C0.447716 4.06412 0 3.61641 0 3.06412V1.19629Z" fill="#D65E54"/>
                                </svg>
                            .basket-content__block-items-count-sum 1
                            .basket-content__block-items-count-plus 
                                <svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M9.88778 0.196289C10.4401 0.196289 10.8878 0.644004 10.8878 1.19629V6.33244C10.8878 6.88473 11.3355 7.33244 11.8878 7.33244H16.6584C17.2107 7.33244 17.6584 7.78016 17.6584 8.33244V9.5176C17.6584 10.0699 17.2107 10.5176 16.6584 10.5176H11.8878C11.3355 10.5176 10.8878 10.9653 10.8878 11.5176V16.6886C10.8878 17.2408 10.4401 17.6886 9.88778 17.6886H8.40673C7.85444 17.6886 7.40673 17.2408 7.40673 16.6886V11.5176C7.40673 10.9653 6.95901 10.5176 6.40673 10.5176H1.6709C1.11861 10.5176 0.670898 10.0699 0.670898 9.5176V8.33244C0.670898 7.78016 1.11861 7.33244 1.6709 7.33244H6.40673C6.95901 7.33244 7.40673 6.88473 7.40673 6.33244V1.19629C7.40673 0.644004 7.85444 0.196289 8.40673 0.196289H9.88778Z" fill="#D65E54"/>
                                </svg>
                        .basket-content__block-items-price ₽ 6 800
                        .basket-content__block-items-icons 
                            <svg width="18" height="23" viewBox="0 0 18 23" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M17.1059 2.06102H12.4438L12.0786 1.28405C12.0012 1.11795 11.882 0.978221 11.7345 0.880596C11.5869 0.782971 11.4168 0.73132 11.2433 0.731453H6.80261C6.62948 0.730741 6.45967 0.7822 6.31262 0.879933C6.16558 0.977667 6.04725 1.11772 5.9712 1.28405L5.606 2.06102H0.943882C0.779019 2.06102 0.620908 2.13106 0.504333 2.25573C0.387757 2.3804 0.322266 2.54949 0.322266 2.7258L0.322266 4.05537C0.322266 4.23168 0.387757 4.40077 0.504333 4.52544C0.620908 4.65011 0.779019 4.72015 0.943882 4.72015H17.1059C17.2708 4.72015 17.4289 4.65011 17.5454 4.52544C17.662 4.40077 17.7275 4.23168 17.7275 4.05537V2.7258C17.7275 2.54949 17.662 2.3804 17.5454 2.25573C17.4289 2.13106 17.2708 2.06102 17.1059 2.06102ZM2.38914 20.1348C2.41879 20.6411 2.62775 21.1164 2.97348 21.4637C3.31921 21.8111 3.77573 22.0045 4.2501 22.0045H13.7997C14.274 22.0045 14.7306 21.8111 15.0763 21.4637C15.422 21.1164 15.631 20.6411 15.6606 20.1348L16.4843 6.04972H1.5655L2.38914 20.1348Z" fill="#A4A4A4"/>
                            </svg>
                    


            .basket-content__block-price 
                .basket-content__block-price-banner 
                    <svg width="441" height="187" viewBox="0 0 441 187" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <mask id="mask0_647_1406" style="mask-type:alpha" maskUnits="userSpaceOnUse" x="0" y="0" width="441" height="187">
                        <rect y="0.0151367" width="441" height="186.916" rx="12" fill="#F0E4F4"/>
                        </mask>
                        <g mask="url(#mask0_647_1406)">
                        <path d="M18.1982 -30.0515C6.68835 -30.0515 -2.6748 -20.6884 -2.6748 -9.17853C-2.6748 2.3313 6.68789 11.6945 18.1982 11.6945C29.708 11.6945 39.0712 2.3313 39.0712 -9.17853C39.0707 -20.6884 29.7075 -30.0515 18.1982 -30.0515Z" fill="#D7CDDB" fill-opacity="0.12"/>
                        <path d="M87.9784 69.3381L18.4023 27.5926C14.1293 25.0261 8.76916 24.9273 4.37841 27.4228C0.0298691 29.8756 -2.67434 34.5164 -2.67434 39.5241V95.1853H-2.6748C-2.6748 98.9021 -1.22761 102.394 1.40192 105.024L25.1554 128.778V178.677C25.1554 186.348 31.3996 192.592 39.0707 192.592C46.7417 192.592 52.986 186.348 52.986 178.677V123.016C52.986 119.299 51.5388 115.806 48.9093 113.177L25.1554 89.4235V64.1004L73.6549 93.201C80.3848 97.2346 88.9112 94.7971 92.7477 88.4378C96.6746 81.8698 94.6007 73.297 87.9784 69.3381Z" fill="#D7CDDB" fill-opacity="0.12"/>
                        <path d="M-2.67359 120.624V132.718L-28.1665 170.958C-32.4528 177.395 -30.6675 186.014 -24.3138 190.254C-17.9364 194.5 -9.29774 192.82 -5.01044 186.395L11.2422 162.018V134.539L-2.67359 120.624Z" fill="#D7CDDB" fill-opacity="0.12"/>
                        <path d="M101.69 136.931H186.109C189.302 136.931 192.081 134.757 192.856 131.659L206.771 75.9978C207.294 73.9189 206.825 71.717 205.507 70.0323C204.189 68.3407 202.164 67.3555 200.024 67.3555H104.774C109.665 75.8234 110.066 86.5874 104.693 95.5799C101.116 101.504 95.4168 105.707 88.956 107.716L93.2382 124.84C85.9363 128.094 80.8169 135.392 80.8169 143.889C80.8169 153.511 87.3933 161.551 96.2643 163.957C95.2953 166.361 94.7322 168.972 94.7322 171.719C94.7322 183.229 104.095 192.592 115.605 192.592C127.115 192.592 136.478 183.229 136.478 171.719C136.478 169.269 135.976 166.902 135.197 164.715H152.603C151.823 166.902 151.321 169.269 151.321 171.719C151.321 183.229 160.684 192.592 172.194 192.592C183.704 192.592 193.067 183.229 193.067 171.719C193.067 160.21 183.704 150.846 172.194 150.846H101.69C97.8511 150.846 94.7322 147.728 94.7322 143.889C94.7322 140.05 97.8511 136.931 101.69 136.931ZM172.193 164.761C176.032 164.761 179.151 167.88 179.151 171.719C179.151 175.558 176.032 178.677 172.193 178.677C168.354 178.677 165.236 175.558 165.236 171.719C165.236 167.88 168.354 164.761 172.193 164.761ZM115.605 164.761C119.444 164.761 122.563 167.88 122.563 171.719C122.563 175.558 119.444 178.677 115.605 178.677C111.766 178.677 108.648 175.558 108.648 171.719C108.648 167.88 111.766 164.761 115.605 164.761Z" fill="#D7CDDB" fill-opacity="0.12"/>
                        </g>
                    </svg>
                .basket-content__block-price-title Итого:
                .basket-content__block-price-sum ₽ 6 800
                button.basket-content__block-price-btn 
                    p Купить


    @@include('components/_part.pug')

@@include('components/_footer.pug')

@@include('components/_script.pug')