@@include('components/_head.pug', {
    'title': 'Контакты'
})

    @@include('components/_header.pug')

    section.contact-header 
        .containers 
            .contact-header__block 
                .contact-header__block-title 
                    p Контакты
                .contact-header__block-description 
                    p МОСКВА
                        br
                        | 129090, Москва, Выползов переулок, дом 7 (метро «Проспект Мира»)
                        | Телефон: 8 (499) 763-15-63
                        br
                        br
                        | e-mail.ru: idmedina@yandex.ru



    @@include('components/_part.pug')

@@include('components/_footer.pug')

@@include('components/_script.pug')