@@include('components/_head.pug', {
    'title': 'Главная'
})

    @@include('components/_header.pug')

    section.ind-header 
        .containers 
            .ind-header__content 
                .ind-header__content-line
                .swiper.indexHeaderSlider
                    .swiper-wrapper
                        .swiper-slide 
                            .ind-header__content-item 
                                .ind-header__content-item-text 
                                    .ind-header__content-item-text-title Первая на Южном Кавказе презентация ИД «Медина» прошла в Баку
                                    button.ind-header__content-item-text-btn Подробнее
                                .ind-header__content-item-img 
                                    img(src="./img/index/header-1.png", alt="img")
                        .swiper-slide 
                            .ind-header__content-item 
                                .ind-header__content-item-text 
                                    .ind-header__content-item-text-title Первая на Южном Кавказе презентация ИД «Медина» прошла в Баку
                                    button.ind-header__content-item-text-btn Подробнее
                                .ind-header__content-item-img 
                                    img(src="./img/index/header-1.png", alt="img")
                        .swiper-slide 
                            .ind-header__content-item 
                                .ind-header__content-item-text 
                                    .ind-header__content-item-text-title Первая на Южном Кавказе презентация ИД «Медина» прошла в Баку
                                    button.ind-header__content-item-text-btn Подробнее
                                .ind-header__content-item-img 
                                    img(src="./img/index/header-1.png", alt="img")
                .swiper-controls 
                    .swiper-button-next
                        <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M8 0L6.59 1.41L12.17 7H0V9H12.17L6.59 14.59L8 16L16 8L8 0Z" fill="#EA3B32"/>
                        </svg>
                    .swiper-button-prev
                        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M19 12H5" stroke="#EA3B32" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                            <path d="M12 5L5 12L12 19" stroke="#EA3B32" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>
                    .swiper-pagination

    section.ind-catalog
        .containers 
            .ind-catalog__content 
                .ind-catalog__content-title Новинки
                ul#indexCatalogBlock-1.ind-catalog__content-list
                    li.ind-catalog__content-item
                        .ind-catalog__content-item-img
                            .ind-catalog__content-item-img-star
                                p 4.2
                            img(src="./img/index/catalog-1.png", alt="img")
                            .ind-catalog__content-item-img-button Приключения
                        .ind-catalog__content-item-title История Чингиз-хан
                        .ind-catalog__content-item-add Ахун Мансур
                    li.ind-catalog__content-item
                        .ind-catalog__content-item-img
                            .ind-catalog__content-item-img-star
                                p 4.2
                            img(src="./img/index/catalog-1.png", alt="img")
                            .ind-catalog__content-item-img-button Приключения
                        .ind-catalog__content-item-title История Чингиз-хан
                        .ind-catalog__content-item-add Ахун Мансур
                    li.ind-catalog__content-item
                        .ind-catalog__content-item-img
                            .ind-catalog__content-item-img-star
                                p 4.2
                            img(src="./img/index/catalog-1.png", alt="img")
                            .ind-catalog__content-item-img-button Приключения
                        .ind-catalog__content-item-title История Чингиз-хан
                        .ind-catalog__content-item-add Ахун Мансур
                    li.ind-catalog__content-item
                        .ind-catalog__content-item-img
                            .ind-catalog__content-item-img-star
                                p 4.2
                            img(src="./img/index/catalog-1.png", alt="img")
                            .ind-catalog__content-item-img-button Приключения
                        .ind-catalog__content-item-title История Чингиз-хан
                        .ind-catalog__content-item-add Ахун Мансур
                    li.ind-catalog__content-item
                        .ind-catalog__content-item-img
                            .ind-catalog__content-item-img-star
                                p 4.2
                            img(src="./img/index/catalog-1.png", alt="img")
                            .ind-catalog__content-item-img-button Приключения
                        .ind-catalog__content-item-title История Чингиз-хан
                        .ind-catalog__content-item-add Ахун Мансур
                    li.ind-catalog__content-item
                        .ind-catalog__content-item-img
                            .ind-catalog__content-item-img-star
                                p 4.2
                            img(src="./img/index/catalog-1.png", alt="img")
                            .ind-catalog__content-item-img-button Приключения
                        .ind-catalog__content-item-title История Чингиз-хан
                        .ind-catalog__content-item-add Ахун Мансур
                    li.ind-catalog__content-item
                        .ind-catalog__content-item-img
                            .ind-catalog__content-item-img-star
                                p 4.2
                            img(src="./img/index/catalog-1.png", alt="img")
                            .ind-catalog__content-item-img-button Приключения
                        .ind-catalog__content-item-title История Чингиз-хан
                        .ind-catalog__content-item-add Ахун Мансур
                    li.ind-catalog__content-item
                        .ind-catalog__content-item-img
                            .ind-catalog__content-item-img-star
                                p 4.2
                            img(src="./img/index/catalog-1.png", alt="img")
                            .ind-catalog__content-item-img-button Приключения
                        .ind-catalog__content-item-title История Чингиз-хан
                        .ind-catalog__content-item-add Ахун Мансур
                ul#indexCatalogBlock-2.ind-catalog__content-list.display-n
                    li.ind-catalog__content-item
                        .ind-catalog__content-item-img
                            .ind-catalog__content-item-img-star
                                p 4.2
                            img(src="./img/index/catalog-1.png", alt="img")
                            .ind-catalog__content-item-img-button Приключения
                        .ind-catalog__content-item-title История Чингиз-хан
                        .ind-catalog__content-item-add Ахун Мансур
                    li.ind-catalog__content-item
                        .ind-catalog__content-item-img
                            .ind-catalog__content-item-img-star
                                p 4.2
                            img(src="./img/index/catalog-1.png", alt="img")
                            .ind-catalog__content-item-img-button Приключения
                        .ind-catalog__content-item-title История Чингиз-хан
                        .ind-catalog__content-item-add Ахун Мансур
                    li.ind-catalog__content-item
                        .ind-catalog__content-item-img
                            .ind-catalog__content-item-img-star
                                p 4.2
                            img(src="./img/index/catalog-1.png", alt="img")
                            .ind-catalog__content-item-img-button Приключения
                        .ind-catalog__content-item-title История Чингиз-хан
                        .ind-catalog__content-item-add Ахун Мансур
                    li.ind-catalog__content-item
                        .ind-catalog__content-item-img
                            .ind-catalog__content-item-img-star
                                p 4.2
                            img(src="./img/index/catalog-1.png", alt="img")
                            .ind-catalog__content-item-img-button Приключения
                        .ind-catalog__content-item-title История Чингиз-хан
                        .ind-catalog__content-item-add Ахун Мансур
                    li.ind-catalog__content-item
                        .ind-catalog__content-item-img
                            .ind-catalog__content-item-img-star
                                p 4.2
                            img(src="./img/index/catalog-1.png", alt="img")
                            .ind-catalog__content-item-img-button Приключения
                        .ind-catalog__content-item-title История Чингиз-хан
                        .ind-catalog__content-item-add Ахун Мансур
                    li.ind-catalog__content-item
                        .ind-catalog__content-item-img
                            .ind-catalog__content-item-img-star
                                p 4.2
                            img(src="./img/index/catalog-1.png", alt="img")
                            .ind-catalog__content-item-img-button Приключения
                        .ind-catalog__content-item-title История Чингиз-хан
                        .ind-catalog__content-item-add Ахун Мансур
                    li.ind-catalog__content-item
                        .ind-catalog__content-item-img
                            .ind-catalog__content-item-img-star
                                p 4.2
                            img(src="./img/index/catalog-1.png", alt="img")
                            .ind-catalog__content-item-img-button Приключения
                        .ind-catalog__content-item-title История Чингиз-хан
                        .ind-catalog__content-item-add Ахун Мансур
                    li.ind-catalog__content-item
                        .ind-catalog__content-item-img
                            .ind-catalog__content-item-img-star
                                p 4.2
                            img(src="./img/index/catalog-1.png", alt="img")
                            .ind-catalog__content-item-img-button Приключения
                        .ind-catalog__content-item-title История Чингиз-хан
                        .ind-catalog__content-item-add Ахун Мансур
                ul#indexCatalogBlock-3.ind-catalog__content-list.display-n
                    li.ind-catalog__content-item
                        .ind-catalog__content-item-img
                            .ind-catalog__content-item-img-star
                                p 4.2
                            img(src="./img/index/catalog-1.png", alt="img")
                            .ind-catalog__content-item-img-button Приключения
                        .ind-catalog__content-item-title История Чингиз-хан
                        .ind-catalog__content-item-add Ахун Мансур
                    li.ind-catalog__content-item
                        .ind-catalog__content-item-img
                            .ind-catalog__content-item-img-star
                                p 4.2
                            img(src="./img/index/catalog-1.png", alt="img")
                            .ind-catalog__content-item-img-button Приключения
                        .ind-catalog__content-item-title История Чингиз-хан
                        .ind-catalog__content-item-add Ахун Мансур
                    li.ind-catalog__content-item
                        .ind-catalog__content-item-img
                            .ind-catalog__content-item-img-star
                                p 4.2
                            img(src="./img/index/catalog-1.png", alt="img")
                            .ind-catalog__content-item-img-button Приключения
                        .ind-catalog__content-item-title История Чингиз-хан
                        .ind-catalog__content-item-add Ахун Мансур
                    li.ind-catalog__content-item
                        .ind-catalog__content-item-img
                            .ind-catalog__content-item-img-star
                                p 4.2
                            img(src="./img/index/catalog-1.png", alt="img")
                            .ind-catalog__content-item-img-button Приключения
                        .ind-catalog__content-item-title История Чингиз-хан
                        .ind-catalog__content-item-add Ахун Мансур
                    li.ind-catalog__content-item
                        .ind-catalog__content-item-img
                            .ind-catalog__content-item-img-star
                                p 4.2
                            img(src="./img/index/catalog-1.png", alt="img")
                            .ind-catalog__content-item-img-button Приключения
                        .ind-catalog__content-item-title История Чингиз-хан
                        .ind-catalog__content-item-add Ахун Мансур
                    li.ind-catalog__content-item
                        .ind-catalog__content-item-img
                            .ind-catalog__content-item-img-star
                                p 4.2
                            img(src="./img/index/catalog-1.png", alt="img")
                            .ind-catalog__content-item-img-button Приключения
                        .ind-catalog__content-item-title История Чингиз-хан
                        .ind-catalog__content-item-add Ахун Мансур
                    li.ind-catalog__content-item
                        .ind-catalog__content-item-img
                            .ind-catalog__content-item-img-star
                                p 4.2
                            img(src="./img/index/catalog-1.png", alt="img")
                            .ind-catalog__content-item-img-button Приключения
                        .ind-catalog__content-item-title История Чингиз-хан
                        .ind-catalog__content-item-add Ахун Мансур
                    li.ind-catalog__content-item
                        .ind-catalog__content-item-img
                            .ind-catalog__content-item-img-star
                                p 4.2
                            img(src="./img/index/catalog-1.png", alt="img")
                            .ind-catalog__content-item-img-button Приключения
                        .ind-catalog__content-item-title История Чингиз-хан
                        .ind-catalog__content-item-add Ахун Мансур
                ul#indexCatalogBlock-4.ind-catalog__content-list.display-n
                    li.ind-catalog__content-item
                        .ind-catalog__content-item-img
                            .ind-catalog__content-item-img-star
                                p 4.2
                            img(src="./img/index/catalog-1.png", alt="img")
                            .ind-catalog__content-item-img-button Приключения
                        .ind-catalog__content-item-title История Чингиз-хан
                        .ind-catalog__content-item-add Ахун Мансур
                    li.ind-catalog__content-item
                        .ind-catalog__content-item-img
                            .ind-catalog__content-item-img-star
                                p 4.2
                            img(src="./img/index/catalog-1.png", alt="img")
                            .ind-catalog__content-item-img-button Приключения
                        .ind-catalog__content-item-title История Чингиз-хан
                        .ind-catalog__content-item-add Ахун Мансур
                    li.ind-catalog__content-item
                        .ind-catalog__content-item-img
                            .ind-catalog__content-item-img-star
                                p 4.2
                            img(src="./img/index/catalog-1.png", alt="img")
                            .ind-catalog__content-item-img-button Приключения
                        .ind-catalog__content-item-title История Чингиз-хан
                        .ind-catalog__content-item-add Ахун Мансур
                    li.ind-catalog__content-item
                        .ind-catalog__content-item-img
                            .ind-catalog__content-item-img-star
                                p 4.2
                            img(src="./img/index/catalog-1.png", alt="img")
                            .ind-catalog__content-item-img-button Приключения
                        .ind-catalog__content-item-title История Чингиз-хан
                        .ind-catalog__content-item-add Ахун Мансур
                    li.ind-catalog__content-item
                        .ind-catalog__content-item-img
                            .ind-catalog__content-item-img-star
                                p 4.2
                            img(src="./img/index/catalog-1.png", alt="img")
                            .ind-catalog__content-item-img-button Приключения
                        .ind-catalog__content-item-title История Чингиз-хан
                        .ind-catalog__content-item-add Ахун Мансур
                    li.ind-catalog__content-item
                        .ind-catalog__content-item-img
                            .ind-catalog__content-item-img-star
                                p 4.2
                            img(src="./img/index/catalog-1.png", alt="img")
                            .ind-catalog__content-item-img-button Приключения
                        .ind-catalog__content-item-title История Чингиз-хан
                        .ind-catalog__content-item-add Ахун Мансур
                    li.ind-catalog__content-item
                        .ind-catalog__content-item-img
                            .ind-catalog__content-item-img-star
                                p 4.2
                            img(src="./img/index/catalog-1.png", alt="img")
                            .ind-catalog__content-item-img-button Приключения
                        .ind-catalog__content-item-title История Чингиз-хан
                        .ind-catalog__content-item-add Ахун Мансур
                    li.ind-catalog__content-item
                        .ind-catalog__content-item-img
                            .ind-catalog__content-item-img-star
                                p 4.2
                            img(src="./img/index/catalog-1.png", alt="img")
                            .ind-catalog__content-item-img-button Приключения
                        .ind-catalog__content-item-title История Чингиз-хан
                        .ind-catalog__content-item-add Ахун Мансур
                .ind-catalog__content-count
                    .ind-catalog__content-count-prev#indexCatalogPrev
                        <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M16 7H3.83L9.42 1.41L8 0L0 8L8 16L9.41 14.59L3.83 9H16V7Z" fill="#EA3B32"/>
                        </svg>
                    .ind-catalog__content-count-item#indexCatalogButton-1.ind-catalog__content-count-item-active 1
                    .ind-catalog__content-count-item#indexCatalogButton-2 2
                    .ind-catalog__content-count-item#indexCatalogButton-3 3
                    .ind-catalog__content-count-item#indexCatalogButton-4 4
                    .ind-catalog__content-count-next#indexCatalogNext
                        <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M8 0L6.59 1.41L12.17 7H0V9H12.17L6.59 14.59L8 16L16 8L8 0Z" fill="#EA3B32"/>
                        </svg>

            .ind-catalog__add
                .ind-catalog__add-title Новости партнеров
                ul.ind-catalog__add-list 
                    .ind-catalog__add-banner
                        p БАННЕР
                    li.ind-catalog__add-item 
                        .ind-catalog__add-item-date 
                            h3 Март 14, 2022
                            p 18:45
                        .ind-catalog__add-item-text В чем разница между хиджабом и паранджой?
                    li.ind-catalog__add-item 
                        .ind-catalog__add-item-date 
                            h3 Март 14, 2022
                            p 18:45
                        .ind-catalog__add-item-text В чем разница между хиджабом и паранджой?
                    li.ind-catalog__add-item 
                        .ind-catalog__add-item-date 
                            h3 Март 14, 2022
                            p 18:45
                        .ind-catalog__add-item-text В чем разница между хиджабом и паранджой?
                button.ind-catalog__add-btn Еще новости

    @@include('components/_shop.pug')

    @@include('components/_rec.pug')

    @@include('components/_video.pug')

    @@include('components/_authors.pug')

    @@include('components/_part.pug')

@@include('components/_footer.pug')

@@include('components/_script.pug')