@@include('components/_head.pug', {
    'title': 'Об Издательстве'
})

    @@include('components/_header.pug')

    section.info-header 
        .containers 
            .info-header__block 
                .info-header__block-title 
                    p Об Издательстве — Концепция
                .info-header__block-text С момента своего образования ИД «Медина» (2007 год - государственная регистрация организации)  занимается изданием качественной литературы по Исламу с учетом традиционного богословия и в рамках исторически распространенного в России ханафитского мазхаба. 
                    br
                    br
                    p ИД «Медина» основной печатный орган Духовного управления мусульман Российской Федерации и Совета муфтиев России, помогает в реализации задач государственной важности и принимает в участие в подготовке молодых специалистов по теме истории и культуры Ислама. 

                .info-header__block-banners 
                    img(src="./img/info/banners.png", alt="img")

                .info-header__block-description Издательский дом «Медина» изначально во главу угла своей деятельности ставил пропаганду толерантной, традиционной для российских мусульман правовой школы Ислама – мазхаба Абу-Ханифы. Более того, социальная роль ИД «Медина» заключается в просветительстве: многие материалы и книги распространяются бесплатно. В первую очередь речь идет о книгах по ханафитскому фикху, а также многочисленных научных и богословских материалах, изданных в ИД «Медина» на страницах различных газет, журналов и альманахов. Ежемесячная газета «Медина аль-Ислам», общественно-богословский журнал «Минарет», политологический сборник «Ислам в современном мире», историко-этнографический альманах «Фаизхановские чтения», культурологический альманах «Мавлид ан-Набий», философско-теологический ежегодник «Рамазановские чтения» – эти и другие издания, несмотря на свою относительную молодость, уже успели завоевать сердца читателей самых разных категорий. В них содержится масса интересных, неожиданных, крайне увлекательных сюжетов, на основании которых уже сейчас любой желающий, специализирующийся на изучении Ислама, Востока, татарской, башкирской, кавказской и среднеазиатской истории, может написать кандидатскую или даже докторскую диссертацию. В дальнейших планах сайта ИД «Медина» – выкладывать не только наши собственные издания, но и другие труды, ставшие уже библиографической редкостью, при условии, что они будут способствовать нашей цели: пропагандировать межконфессиональную толерантность, поощрять просветительство, вести ищущих знаний по пути веры и прогресса. 


    @@include('components/_part.pug')

@@include('components/_footer.pug')

@@include('components/_script.pug')