@@include('components/_head.pug', {
    'title': 'Новости'
})

    @@include('components/_header.pug')

    section.new-header 
        .containers 
            .new-header__block 
                .new-header__block-content 
                    .new-header__block-content-date 
                        p сегодня в 9:37
                        a(href="#") Подарки
                    .new-header__block-content-title Подарки на Новый год и Рождество: какие книги подарить близким
                    .new-header__block-content-text Ищете подарки на Новый год и Рождество для самых близких? Мы поискали среди самых интересных новинок года и составили подсказки, которые помогут подобрать книгу в подарок маме или тёте, папе или дедушке, мужу, жене или ребёнку.
                    button.new-header__block-content-btn 
                        p Читать подробнее
                .new-header__block-banner 
                    img(src="./img/new/banner.png", alt="img")

    section.new-catalog 
        .containers 
            .new-catalog__block 
                .new-catalog__block-title 
                    h3 Последние новости
                    button.new-catalog__block-title-btn
                        p Показать больше
                ul.new-catalog__block-table
                    li.new-catalog__block-table-items 
                        .new-catalog__block-table-items-photo 
                            img(src="./img/new/add-1.png", alt="img")
                        .new-catalog__block-table-items-wrapper 
                            .new-catalog__block-table-items-type 
                                a(href="#") Подарки
                            .new-catalog__block-table-items-title Подарки на Новый год и Рождество: какие книги подарить близким
                            .new-catalog__block-table-items-btns 
                                p сегодня в 9:37
                                button.new-catalog__block-table-items-btn
                                    a(href="details.html") Подробнее
                    li.new-catalog__block-table-items 
                        .new-catalog__block-table-items-photo 
                            img(src="./img/new/add-2.png", alt="img")
                        .new-catalog__block-table-items-wrapper 
                            .new-catalog__block-table-items-type 
                                a(href="#") Подарки
                            .new-catalog__block-table-items-title Подарки на Новый год и Рождество: какие книги подарить близким
                            .new-catalog__block-table-items-btns 
                                p сегодня в 9:37
                                button.new-catalog__block-table-items-btn
                                    a(href="details.html") Подробнее
                    li.new-catalog__block-table-items 
                        .new-catalog__block-table-items-photo 
                            img(src="./img/new/add-3.png", alt="img")
                        .new-catalog__block-table-items-wrapper 
                            .new-catalog__block-table-items-type 
                                a(href="#") Подарки
                            .new-catalog__block-table-items-title Подарки на Новый год и Рождество: какие книги подарить близким
                            .new-catalog__block-table-items-btns 
                                p сегодня в 9:37
                                button.new-catalog__block-table-items-btn
                                    a(href="details.html") Подробнее
                    li.new-catalog__block-table-items 
                        .new-catalog__block-table-items-photo 
                            img(src="./img/new/add-2.png", alt="img")
                        .new-catalog__block-table-items-wrapper 
                            .new-catalog__block-table-items-type 
                                a(href="#") Подарки
                            .new-catalog__block-table-items-title Подарки на Новый год и Рождество: какие книги подарить близким
                            .new-catalog__block-table-items-btns 
                                p сегодня в 9:37
                                button.new-catalog__block-table-items-btn
                                    a(href="details.html") Подробнее
                    li.new-catalog__block-table-items 
                        .new-catalog__block-table-items-photo 
                            img(src="./img/new/add-1.png", alt="img")
                        .new-catalog__block-table-items-wrapper 
                            .new-catalog__block-table-items-type 
                                a(href="#") Подарки
                            .new-catalog__block-table-items-title Подарки на Новый год и Рождество: какие книги подарить близким
                            .new-catalog__block-table-items-btns 
                                p сегодня в 9:37
                                button.new-catalog__block-table-items-btn
                                    a(href="details.html") Подробнее
                    li.new-catalog__block-table-items 
                        .new-catalog__block-table-items-photo 
                            img(src="./img/new/add-3.png", alt="img")
                        .new-catalog__block-table-items-wrapper 
                            .new-catalog__block-table-items-type 
                                a(href="#") Подарки
                            .new-catalog__block-table-items-title Подарки на Новый год и Рождество: какие книги подарить близким
                            .new-catalog__block-table-items-btns 
                                p сегодня в 9:37
                                button.new-catalog__block-table-items-btn
                                    a(href="details.html") Подробнее

    @@include('components/_part.pug')

@@include('components/_footer.pug')

@@include('components/_script.pug')