.basket-content {
    padding: 110px 0 90px 0;
    width: 100%;
    &__title {
        font-family: Spectral;
        font-style: normal;
        font-weight: bold;
        font-size: 28px;
        line-height: 48px;
        font-feature-settings: 'pnum' on, 'lnum' on;
        color: #2E2E2E;
        width: 100%;
        text-align: center;
    }
    &__block {
        margin: 55px 0 0 0;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        &-name {
            width: 100%;
            padding: 0 237px 0 30px;
            height: 85.09px;
            background: #D65E54;
            border-radius: 10px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            &-title {
                font-style: normal;
                font-weight: 600;
                font-size: 20px;
                line-height: 30px;
                color: #FFFFFF;
            }
            &-count {
                font-style: normal;
                font-weight: 600;
                font-size: 20px;
                line-height: 30px;
                color: #FFFFFF;
            }
            &-price {
                font-style: normal;
                font-weight: 600;
                font-size: 20px;
                line-height: 30px;
                color: #FFFFFF;
            }
        }
        &-list {
            margin: 30px 0 50px 0;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: flex-start;
            width: 100%;
        }
        &-items {
            width: 100%;
            padding: 13px 237px 13px 15px;
            background: #FFFFFF;
            border: 1px solid #D0D0D0;
            box-sizing: border-box;
            border-radius: 12px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            position: relative;
            margin: 0 0 15px 0;
            &:last-child {
                margin: 0;
            }
            &-info {
                display: flex;
                align-items: center;
                justify-content: flex-start;
                &-photo {
                    width: 135px;
                    min-height: 193px;
                    height: 100%;
                    background: #F2F2F2;
                    border-radius: 20px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    overflow: hidden;
                    & img {
                        width: 85%;
                        height: 85%;
                        object-fit: cover;
                    }
                }
            }
            &-text {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                justify-content: flex-start;
                margin: auto 0 auto 32px;
                width: 200px;
                &-type {
                    font-style: normal;
                    font-weight: normal;
                    font-size: 18px;
                    line-height: 27px;
                    color: #4D4D4D;
                }
                &-title {
                    margin: 9px 0;
                    font-style: normal;
                    font-weight: 600;
                    font-size: 20px;
                    line-height: 30px;
                    color: #000000;
                }
                &-description {
                    font-style: normal;
                    font-weight: 500;
                    font-size: 14px;
                    line-height: 21px;
                    color: #000000;
                }
            }
            &-count {
                padding: 0 17px;
                height: 62.85px;
                background: #EBEBEB;
                border-radius: 10px;
                display: flex;
                align-items: center;
                justify-content: center;
                margin: 0 0 0 -120px;
                &-minus {
                    cursor: pointer;
                }
                &-plus {
                    cursor: pointer;
                }
                &-sum {
                    margin: 0 50px;
                    font-style: normal;
                    font-weight: 600;
                    font-size: 22px;
                    line-height: 24px;
                    text-align: center;
                    color: #000000;
                }
            }
            &-price {
                font-style: normal;
                font-weight: 600;
                font-size: 18px;
                line-height: 27px;
                color: #000000;
            }
            &-icons {
                cursor: pointer;
                position: absolute;
                top: 50%;
                right: 52px;
                transform: translate(0%, -50%);
            }
        }
        &-price {
            width: 100%;
            padding: 0 72px;
            height: 183px;
            background: #D65E54;
            border-radius: 12px;
            position: relative;
            display: flex;
            align-items: center;
            justify-content: space-between;
            &-banner {
                position: absolute;
                top: 0;
                left: 0;
            }
            &-title {
                font-style: normal;
                font-weight: 600;
                font-size: 30px;
                line-height: 45px;
                color: #FFFFFF;
            }
            &-sum {
                font-style: normal;
                font-weight: 600;
                font-size: 28px;
                line-height: 45px;
                color: #FFFFFF;
            }
            &-btn {
                padding: 0 194px;
                height: 65.75px;
                background: #FFFFFF;
                border-radius: 12px;
                display: flex;
                align-items: center;
                justify-content: center;
                text-align: center;
                cursor: pointer;
                z-index: 6;
                & p {
                    font-style: normal;
                    font-weight: 500;
                    font-size: 20px;
                    line-height: 30px;
                    color: #D65E54;
                }
            }
        }
    }
}