@media (max-width: 1050px) {
    .gallery-content .containers {
        padding: 0 30px;
    }
}
@media (max-width: 950px) {
    .gallery-content__photo {
        grid-template-columns: repeat(3, 1fr);
    }
}
@media (max-width: 750px) {
    .gallery-content__photo {
        grid-template-columns: repeat(2, 1fr);
    }
}
@media (max-width: 550px) {
    .gallery-content__photo-items {
        height: 103px;
    }
    .gallery-content__photo {
        gap: 23px 10px;
    }
}